/* Avatar Special */
div.avatar_special a {
  color: inherit !important;
}

div.avatar_special {
  margin-bottom: 2px;
  font-size: 0.9em;
}

.maxh_24 {
  max-height: 24px;
}

.maxh_30 {
  max-height: 30px;
}

.maxh_32 {
  max-height: 32px;
}

.maxh_36 {
  max-height: 36px;
}

.maxh_40 {
  max-height: 40px;
}

.maxh_44 {
  max-height: 44px;
}

dd.avatar_special img.avatar_badge {
  margin-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

dd.avatar_special img.sharp {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

div.avatar_special p {
  margin: 0;
}

.audio_expert {
  width: 32px;
  height: 32px;
  background-size: cover;
}

.adobe_infinity,
.dj,
.drunken_master,
.gundam,
.one_piece,
.trekki,
.updater,
.wwe,
.game_machine,
.tidal,
.marvel {
  height: 36px;
}

.james_bond,
.formula_one,
.attenborough,
.upscale {
  height: 32px;
}

.the_oracle {
  height: 38px;
  max-height: 38px;
}

.crouching_tiger {
  position: absolute;
  opacity: 0.8;
  top: -12px;
  right: -22px;
  max-height: 130px;
  z-index: 0;
}

.hidden_dragon {
  position: absolute;
  opacity: 0.9;
  top: -14px;
  right: -18px;
  max-height: 180px;
  z-index: 0;
}

a.encoder_tag,
a.encoder_tag:hover {
  text-decoration: none;
}
