/* Avatar Special */
div.avatar_special a
{
    color: inherit !important;
}

div.avatar_special
{
    margin-bottom: 2px;
    font-size: .9em;
}

.maxh_24
{
    max-height: 24px;
}

.maxh_36
{
    max-height: 36px;
}

div.avatar_special img.avatar_badge
{
    margin-left: 2px;
}

div.avatar_special p
{
    margin: 0;
}
