/* Avatar Special */
div.avatar_special a
{
    color: inherit !important;
}

div.avatar_special
{
    margin-bottom: 2px;
    font-size: .9em;
}

.maxh_24
{
    max-height: 24px;
}

.maxh_36
{
    max-height: 36px;
}

.the_oracle
{
    max-height: 46px;
    margin: 3px 0px;
}

.adobe_infinity
{
  max-height: 40px;
  margin: 3px 1px;
}

.game_machine
{
  max-height: 28px;
  margin: 3px 1px;
}

.trekki
{
  max-height: 40px;
  margin: 3px 1px;
}

div.avatar_special img.avatar_badge
{
    margin-left: 2px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

div.avatar_special p
{
    margin: 0;
}

.audio_expert
{
    width: 27px;
    height: 24px;
    background-size: cover;
}

.tidal
{
  height: 40px;
  margin: 3px 1px;
}

.formula_one
{
  height: 30px;
  margin: 3px 1px;
}

.marvel
{
  height: 40px;
  margin: 3px 1px;
}

.attenborough
{
  height: 30px;
  margin: 3px 1px;
}

.dj
{
  height: 40px;
  margin: 3px 1px;
}

.crouching_tiger
{
  position: absolute;
  opacity: .8;
  top: -12px;
  right: -22px;
  max-height: 130px;
  z-index: 0;
}

.hidden_dragon
{
  position: absolute;
  opacity: .9;
  top: -14px;
  right: -18px;
  max-height: 180px;
  z-index: 0;
}

.one_piece
{
  height: 40px;
  margin: 3px 1px;
}

.upscale
{
  height: 30px;
  margin: 3px 1px;
}
