<!-- INCLUDECSS @jeb_snahp/avatar/component/special/base.css -->
<p class="avatar_special">
  {% set AUTHOR = postrow.POST_AUTHOR|lower %}
  {% set AUTHOR_COLOUR = postrow.POST_AUTHOR_COLOUR %}
  {% set POSTER_ID = postrow.POSTER_ID %}
  {% if AUTHOR == 'admin' %}
    <span style="color:{AUTHOR_COLOUR}"><b><a href="/search.php?st=0&sk=t&sd=d&sr=topics&author_id={POSTER_ID}&sf=firstpost" target="_blank">.$.Millionaire.$.</b></a></span>
  {% elseif AUTHOR == 'eserafinojr' %}
    <span style="color:{AUTHOR_COLOUR};"><b>EPS</b></span>
  {% elseif AUTHOR == '3xo' %}
    <span style="color:{AUTHOR_COLOUR};"><b>3xO</b></span>
  {% elseif AUTHOR == 'sampad22' %}
    <span style="color:{AUTHOR_COLOUR};"><b>.QxR. <a href="/search.php?st=0&sk=t&sd=d&sr=topics&author_id={POSTER_ID}&sf=firstpost" target="_blank">SAMPA</a></b></span>
  {% elseif AUTHOR =='bluespots' %}
    <span style="color:{AUTHOR_COLOUR}"><b><a href="/search.php?st=0&sk=t&sd=d&sr=topics&author_id={POSTER_ID}&sf=firstpost" target="_blank">Bluespots</b></a></span>
  {% elseif AUTHOR =='skumdog' %}
    <span style="color:{AUTHOR_COLOUR}"><b><a href="/search.php?st=0&sk=t&sd=d&sr=topics&author_id={POSTER_ID}&sf=firstpost" target="_blank">Millionaire</b></a></span>
  {% elseif AUTHOR =='smurf' %}
    <span style="color:{AUTHOR_COLOUR};"><b><a href="/search.php?st=0&sk=t&sd=d&sr=topics&author_id={POSTER_ID}&sf=firstpost" target="_blank">Smurf</b></a></span>
  {% elseif AUTHOR =='fantompoke' %}
    <span style="color:{AUTHOR_COLOUR};"><b><a href="/search.php?st=0&sk=t&sd=d&sr=topics&author_id={POSTER_ID}&sf=firstpost" target="_blank">Poke</b></a></span>
  {% elseif AUTHOR =='koyumu' %}
    <span style="color:{AUTHOR_COLOUR};"><b><a href="/search.php?st=0&sk=t&sd=d&sr=topics&author_id={POSTER_ID}&sf=firstpost" target="_blank">Koyumu</b></a></span>
  {% elseif AUTHOR =='magiin' %}
    <span style="color:{AUTHOR_COLOUR};"><b><a href="/search.php?st=0&sk=t&sd=d&sr=topics&author_id={POSTER_ID}&sf=firstpost" target="_blank">MaG</b></a></span>
  {% elseif AUTHOR =='qebehsenue' %}
    <span style="color:{AUTHOR_COLOUR};"><b><a href="/search.php?st=0&sk=t&sd=d&sr=topics&author_id={POSTER_ID}&sf=firstpost" target="_blank">qebe</b></a></span>
  <!-- {% elseif AUTHOR =='itchyfinger' %} -->
    <!-- <span style="color:{AUTHOR_COLOUR};"><b><a href="/search.php?st=0&sk=t&sd=d&sr=topics&author_id={POSTER_ID}&sf=firstpost" target="_blank">ItchyFinger</b></a></span> -->
  {% endif %}
</p>
