<!-- INCLUDE overall_header.html -->

<p>{ELAPSED_TIME}</p>
<div class="twbs">

  <div class="account_info">
    <div class="row mt-3">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Account Information</h5>
            <div class="row" style="font-size: 1.6em; font-weight: 900;">
              <div class="col-6"><p>Balance:</p></div>
              <div class="col-6"><p>${BALANCE}</p></div>
            </div>
            <div class="row" style="font-size: 1.4em; font-weight: 900;">
              <div class="col-6"><p>Invitation Points (IP):</p></div>
              <div class="col-6"><p>{N_INV_PTS}</p></div>
            </div>
            <div class="row">
              <div class="col-6">
</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Make Transactions">
    <div class="row mt-3">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sell</h5>
            <div class="col p-0">
            {% include '@jeb_snahp/bank/component/transactions/component/process/base.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Buy</h5>
            <div class="col p-0">
            {% include '@jeb_snahp/shop/base.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="row mt-3">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <span class="pointer noselect" data-target="#invoices" data-toggle="collapse">
                Invoice <i class="icon fa-plus-square-o collapse_plus" aria-hidden="true"></i>
              </span>
            </h5>
            <div class="col collapse" id="invoices">
              {% include '@jeb_snahp/shop/component/transactions/component/history/base.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="row mt-3">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <span class="pointer noselect" data-target="#banking_history" data-toggle="collapse">
                Banking History <i class="icon fa-plus-square-o collapse_plus" aria-hidden="true"></i>
              </span>
            </h5>
            <div class="col collapse" id="banking_history">
              {% include '@jeb_snahp/bank/component/transactions/component/history/base.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- INCLUDE overall_footer.html -->
