{% if B_SHOW_BOOKS %}
<!-- INCLUDEJS @jeb_snahp/form_injector/component/input/component/googlebooks/base.js -->
<!-- INCLUDECSS @jeb_snahp/form_injector/component/input/component/googlebooks/base.css -->
<dt>
  <label for="googlebooks_input">Googlebooks:</label>
</dt>
<dd>
  <input value="" type="text" placeholder="" id="googlebooks_input" class="inputbox autowidth">
  <input value="" type="text" placeholder="Author" name="googlebooks_input_author" id="googlebooks_input_author" class="inputbox autowidth" style="max-width: 80px;">
  <!-- <button type="button" onClick="Googlebooks.startHandlingGooglebooksAjax();">Search</button> -->
</dd>
{% endif %}
