<dl>
  <dt>
    <label>Audio Compression:</label>
  </dt>
  <dd>
    <input class="req_cb" type="checkbox" name="req_v_comp_flac" id="req_v_comp_flac" value="1">
    <label class="req_cb_label" for="req_v_comp_flac">FLAC</label>
    <input class="req_cb" type="checkbox" name="req_v_comp_mp3" id="req_v_comp_mp3" value="1">
    <label class="req_cb_label" for="req_v_comp_mp3">MP3</label>
    <!-- <input class="req_cb" type="checkbox" name="req_v_comp_wav" id="req_v_comp_wav" value="1"> -->
    <!-- <label class="req_cb_label" for="req_v_comp_wav">WAV</label> -->
  </dd>
</dl>
