.grid-gallery .lg.item {
  margin-bottom: 30px;
}

.grid-gallery .default.item {
  padding: 0px 10px 0px 10px;
  margin-bottom: 16px;
}

.gallery-block.grid-gallery .item.hi span img {
  opacity: 0.7;
}

.grid-gallery .default.item .card-body {
  padding: 12px 12px 12px 12px;
}

.grid-gallery .sm.item {
  padding: 0px 6px 0px 6px;
  margin-bottom: 12px;
}

.grid-gallery .sm.item .card-body {
  padding: 10px 10px 10px 10px;
}

.gallery-block.grid-gallery {
  padding-bottom: 4px;
  padding-top: 20px;
}

.gallery-block.grid-gallery .heading {
  margin-bottom: 50px;
  text-align: center;
}

.gallery-block.grid-gallery .heading h2 {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.gallery-block.grid-gallery a:hover {
  opacity: 0.8;
}

.gallery-block.grid-gallery .item img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

@media (min-width: 576px) {
  .gallery-block.grid-gallery .scale-on-hover:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}
