<fieldset>
  <dl>
    <dt><label>Generate Statistics:</label><br>
      This will generate general statistics and diagnostics for the requests feature.<br>
      Importantly, take a note of the Total_Query_Time.<br>
      As the total number of requests increases, all resynch functions will take longer to run.<br>
    </dt>
    <dd>
      <input onClick="showStatistics();" type="Button" value="Generate" name="GenerateStat" class="button1">
      <script>
        function showStatistics()
        {
          var url = '/app.php/snahp/acp_reqs/generate_statistics/';
          $.ajax(url).done((resp)=>{
            $content = $('#acp_request_statistics_content');
            $content.empty();
            for (var varname in resp)
            {
              $entry = $('<tr><td style="text-align:left">' + varname + '</td><td style="text-align:left">' + resp[varname] + '</td></tr>');
              $content.append($entry);
            }
          });
        }
      </script>
    </dd>
  </dl>
  <hr />
  <div id="user_request_details">
    <!-- <table id="mcp_req_user_details" class="mcp_table"> -->
    <table class="table.type3 responsive">
      <thead>
        <tr>
          <th>Variable</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody id="acp_request_statistics_content">
      </tbody>
    </table>
  </div>
  <hr />
</fieldset>
