<fieldset>
  <dl>
    <dt><label>Resynchronize Requests</label><br>
      Interrupted database updates and insert calls can corrupt requests table.<br>
      Resynch will attempt to validate and auto-correct requests table in such cases.
    </dt>
    <dd>
      <input onClick="resynchRequests();" type="Button" value="Resynch" name="Resynch" class="button1">
      <script>
        function resynchRequests()
        {
          var url = '/app.php/snahp/acp_reqs/resynch/';
          $.ajax(url).done((resp)=>{
            $content = $('#acp_request_statistics_content');
            $content.empty();
            for (var varname in resp)
            {
              $entry = $('<tr><td style="text-align:left">' + varname + '</td><td style="text-align:left">' + resp[varname] + '</td></tr>');
              $content.append($entry);
            }
          });
        }
      </script>
    </dd>
  </dl>
</fieldset>
