<!-- INCLUDE overall_header.html -->
<h1>General Settings</h1>

<form id="acp_board" method="post" action="{U_ACTION}">
  <div class="panel">
    <div class="inner">

      <fieldset>
        <legend>General Forum ID</legend>
        <dl>
          <dt>
            <label for="fid_listings">Listings Root Forum ID:</label>
            <dd>
              <input type="number" value="{FID_LISTINGS}" min="0" name="fid_listings" id="fid_listings" />
            </dd>
          </dt>
        </dl>
        <dl>
          <dt>
            <label for="fid_listings">Requests Root Forum ID:</label>
            <dd>
              <input type="number" value="{SNP_FID_REQUESTS}" min="0" name="snp_fid_requests" id="snp_fid_requests" />
            </dd>
          </dt>
        </dl>
      </fieldset>

      <fieldset>
        <legend>Thanks</legend>
				<dl>
          <dt>
              <label>Thanks Master Switch</label>
          </dt>
					<dd>
              <label><input type="radio" name="snp_thanks_b_enable" class="radio" value="1" {% if SNP_THANKS_B_ENABLE %}checked="checked"{% endif %}> Enable</label>
              <label><input type="radio" name="snp_thanks_b_enable" class="radio" value="0" {% if not SNP_THANKS_B_ENABLE %}checked="checked"{% endif %}> Disable</label>
          </dd>
        </dl>
				<dl>
          <dt>
              <label>Show under avatar:</label>
          </dt>
					<dd>
              <label><input type="radio" name="snp_thanks_b_avatar" class="radio" value="1" {% if SNP_THANKS_B_AVATAR %}checked="checked"{% endif %}> Enable</label>
              <label><input type="radio" name="snp_thanks_b_avatar" class="radio" value="0" {% if not SNP_THANKS_B_AVATAR %}checked="checked"{% endif %}> Disable</label>
          </dd>
        </dl>
				<dl>
          <dt>
              <label>Show Top 10 List:</label>
          </dt>
					<dd>
              <label><input type="radio" name="snp_thanks_b_toplist" class="radio" value="1" {% if SNP_THANKS_B_TOPLIST %}checked="checked"{% endif %}> Enable</label>
              <label><input type="radio" name="snp_thanks_b_toplist" class="radio" value="0" {% if not SNP_THANKS_B_TOPLIST %}checked="checked"{% endif %}> Disable</label>
          </dd>
        </dl>
				<dl>
          <dt>
            <label>Rebuild thanks count</label><br>
            When thanks count is corrupted, use the rebuilder console to auto correct.
          </dt>
					<dd>
            <a href="/app.php/snahp/acp_thanks/handle/resync_all/"> Go to the Rebuilder Console</a>
          </dd>
        </dl>
      </fieldset>

      <fieldset>
        <legend>Requests Solved Statistics</legend>
				<dl>
          <dt>
              <label>Show under avatar:</label>
          </dt>
					<dd>
              <label><input type="radio" name="snp_req_b_avatar" class="radio" value="1" {% if SNP_REQ_B_AVATAR %}checked="checked"{% endif %}> Enable</label>
              <label><input type="radio" name="snp_req_b_avatar" class="radio" value="0" {% if not SNP_REQ_B_AVATAR %}checked="checked"{% endif %}> Disable</label>
          </dd>
        </dl>
      </fieldset>

      <fieldset>
        <legend>Easter Eggs</legend>
				<dl>
          <dt>
              <label>Easter Egg: Chicken Edition</label>
          </dt>
					<dd>
              <label><input type="radio" name="snp_easter_b_chicken" class="radio" value="1" {% if SNP_EASTER_B_CHICKEN %}checked="checked"{% endif %}> Enable</label>
              <label><input type="radio" name="snp_easter_b_chicken" class="radio" value="0" {% if not SNP_EASTER_B_CHICKEN %}checked="checked"{% endif %}> Disable</label>
          </dd>
        </dl>
        <dl>
          <dt>
            <label for="Probability">Chicken Post Probability:</label>
            <dd>
              1 in <input type="number" value="{SNP_EASTER_CHICKEN_CHANCE}" min="0" name="snp_easter_chicken_chance" id="snp_easter_chicken_chance" />
            </dd>
          </dt>
        </dl>
      </fieldset>

      <fieldset>
        <legend>Quick Links</legend>
        <dl>
          <dt>
            <label for="snp_ql_your_topics">Your Topics:</label><br>
          </dt>
          <dd>
            <label><input type="radio" name="snp_ql_your_topics" class="radio" value="1" {% if SNP_QL_YOUR_TOPICS %}checked="checked"{% endif %}> Yes</label>
            <label><input type="radio" name="snp_ql_your_topics" class="radio" value="0" {% if not SNP_QL_YOUR_TOPICS %}checked="checked"{% endif %}> No</label>
          </dd>
        </dl>
        <dl>
          <dt>
            <label for="snp_ql_fav_b_time">New Listing:</label><br>
          </dt>
          <dd>
            <label><input type="radio" name="snp_ql_fav_b_time" class="radio" value="1" {% if SNP_QL_FAV_B_TIME %}checked="checked"{% endif %}> Yes</label>
            <label><input type="radio" name="snp_ql_fav_b_time" class="radio" value="0" {% if not SNP_QL_FAV_B_TIME %}checked="checked"{% endif %}> No</label>
          </dd>
        </dl>
        <dl>
          <dt>
            <label for="snp_ql_fav_b_views">Popular Listings:</label><br>
          </dt>
          <dd>
            <label><input type="radio" name="snp_ql_fav_b_views" class="radio" value="1" {% if SNP_QL_FAV_B_VIEWS %}checked="checked"{% endif %}> Yes</label>
            <label><input type="radio" name="snp_ql_fav_b_views" class="radio" value="0" {% if not SNP_QL_FAV_B_VIEWS %}checked="checked"{% endif %}> No</label>
          </dd>
        </dl>
        <dl>
          <dt>
            <label for="snp_ql_fav_b_replies">Most Discussed:</label><br>
          </dt>
          <dd>
            <label><input type="radio" name="snp_ql_fav_b_replies" class="radio" value="1" {% if SNP_QL_FAV_B_REPLIES %}checked="checked"{% endif %}> Yes</label>
            <label><input type="radio" name="snp_ql_fav_b_replies" class="radio" value="0" {% if not SNP_QL_FAV_B_REPLIES %}checked="checked"{% endif %}> No</label>
          </dd>
        </dl>
        <dl>
          <dt>
            <label for="snp_ql_thanks_given">My Thanks:</label><br>
          </dt>
          <dd>
            <label><input type="radio" name="snp_ql_thanks_given" class="radio" value="1" {% if SNP_QL_THANKS_GIVEN %}checked="checked"{% endif %}> Yes</label>
            <label><input type="radio" name="snp_ql_thanks_given" class="radio" value="0" {% if not SNP_QL_THANKS_GIVEN %}checked="checked"{% endif %}> No</label>
          </dd>
        </dl>
        <dl>
          <dt>
            <label for="snp_ql_ucp_bookmark">Bookmarks:</label><br>
          </dt>
          <dd>
            <label><input type="radio" name="snp_ql_ucp_bookmark" class="radio" value="1" {% if SNP_QL_UCP_BOOKMARK %}checked="checked"{% endif %}> Yes</label>
            <label><input type="radio" name="snp_ql_ucp_bookmark" class="radio" value="0" {% if not SNP_QL_UCP_BOOKMARK %}checked="checked"{% endif %}> No</label>
          </dd>
        </dl>
        <dl>
          <dt>
            <label for="snp_ql_req_open_requests">Open Requests:</label><br>
          </dt>
          <dd>
            <label><input type="radio" name="snp_ql_req_open_requests" class="radio" value="1" {% if SNP_QL_REQ_OPEN_REQUESTS %}checked="checked"{% endif %}> Yes</label>
            <label><input type="radio" name="snp_ql_req_open_requests" class="radio" value="0" {% if not SNP_QL_REQ_OPEN_REQUESTS %}checked="checked"{% endif %}> No</label>
          </dd>
        </dl>
      </fieldset>

      <fieldset>
        <legend>Zebra</legend>
        <span>Options used to control how friends & foe are able to see a user's post.</span><br><br>
				<dl>
          <dt>
              <label>Zebra Master Switch</label>
          </dt>
					<dd>
              <label><input type="radio" name="snp_zebra_b_master" class="radio" value="1" {% if SNP_ZEBRA_B_MASTER %}checked="checked"{% endif %}> Enable</label>
              <label><input type="radio" name="snp_zebra_b_master" class="radio" value="0" {% if not SNP_ZEBRA_B_MASTER %}checked="checked"{% endif %}> Disable</label>
          </dd>
        </dl>
      </fieldset>

    </div>
  </div>
  <fieldset>
    <dl>
      <dt>&nbsp;</dt>
      <dd><input type="submit" name="submit" id="submit" class="button1" value="{L_SUBMIT}" tabindex="2" />&nbsp;
        <input type="reset" value="{L_RESET}" name="reset" class="button2" /></dd>
    </dl>
    {S_HIDDEN_FIELDS}
    {S_FORM_TOKEN}
  </fieldset>
</form>
<!-- INCLUDE overall_footer.html -->
