<!-- INCLUDE overall_header.html -->
<h1>Group Based Search</h1>
<form id="acp_board" method="post" action="{U_ACTION}">
	<div class="panel">
		<div class="inner">

			<fieldset>
				<dl>
          <dt>
              <label>Group Based Search Master Switch</label>
          </dt>
					<dd>
              <label><input type="radio" name="snp_search_b_enable" class="radio" value="1" {% if SNP_SEARCH_B_ENABLE %}checked="checked"{% endif %}> Enable</label>
              <label><input type="radio" name="snp_search_b_enable" class="radio" value="0" {% if not SNP_SEARCH_B_ENABLE %}checked="checked"{% endif %}> Disable</label>
          </dd>
        </dl>
      </fieldset>

			<fieldset>
				<dl>
            <span>
              Interval: Cooldown between searches<br>
              Indexer: Members of this group can manually index a post<br>
              Manual indexing also decreases minimum word limit to 2<br>
              *Note* If the post is edited, the native indexer will re-index with default settings<br>
            </span>
        </dl>
        <div id="">
          <table class="table.type3 responsive">
            <thead>
              <tr>
                <th>GID</th>
                <th>Group Name</th>
                <th>Interval</th>
                <th>Indexer</th>
              </tr>
            </thead>
            <tbody id="acp_request_statistics_content">
              <!-- BEGIN A_GROUP_BASED_SEARCH -->
              <tr>
                <td>{A_GROUP_BASED_SEARCH.GID}</td>
                <td>{A_GROUP_BASED_SEARCH.NAME}</td>
                <td>
                  <input type="number" min="0"
                                       style="text-align:center;"
                                       name="interval-{A_GROUP_BASED_SEARCH.GID}"
                                       value="{A_GROUP_BASED_SEARCH.INTERVAL}">
                </td>
                <td>
                  <input type="hidden"
                         name="enable-indexer-{A_GROUP_BASED_SEARCH.GID}"
                         value="0">
                  <input type="checkbox"
                         name="enable-indexer-{A_GROUP_BASED_SEARCH.GID}"
                         id="enable-indexer-{A_GROUP_BASED_SEARCH.NAME}"
                         {% if A_GROUP_BASED_SEARCH.ENABLE_INDEXER %}value="1" checked{% endif %}>
                </td>
              </tr>
              <!-- END A_GROUP_BASED_SEARCH -->
            </tbody>
          </table>
        </div>

      </fieldset>
    </div>
  </div>
  <fieldset>
    <dl>
      <dt>&nbsp;</dt>
      <dd><input type="submit" name="submit" id="submit" class="button1" value="{L_SUBMIT}" tabindex="2" />&nbsp;
        <input type="reset" value="{L_RESET}" name="reset" class="button2" /></dd>
    </dl>
    {S_HIDDEN_FIELDS}
    {S_FORM_TOKEN}
  </fieldset>
</form>
<!-- INCLUDE overall_footer.html -->
