<!-- INCLUDE overall_header.html -->

<h1>Invitation System</h1>
<form id="acp_board" method="post" action="{U_ACTION}">
	<div class="panel">
		<div class="inner">

			<fieldset>
        <legend>Master Switch</legend>
				<dl>
          <dt>
              <label>Invite Master Switch</label>
          </dt>
					<dd>
              <label><input type="radio" name="snp_inv_b_master" class="radio" value="1" {% if SNP_INV_B_MASTER %}checked="checked"{% endif %}> Enable</label>
              <label><input type="radio" name="snp_inv_b_master" class="radio" value="0" {% if not SNP_INV_B_MASTER %}checked="checked"{% endif %}> Disable</label>
          </dd>
        </dl>
      </fieldset>

			<fieldset>
        <legend>Scripts & Consoles</legend>
				<dl>
          <dt>
            <label>General Scripts</label><br>
            Scripts for the most common invitation system tasks.
          </dt>
					<dd>
            <label><a href="/app.php/snahp/acp_invite/handle_giveaways/">Go to Group Management Console</a></label>
          </dd>
        </dl>
      </fieldset>

    </div>
  </div>
  <fieldset>
    <dl>
      <dt>&nbsp;</dt>
      <dd><input type="submit" name="submit" id="submit" class="button1" value="{L_SUBMIT}" tabindex="2" />&nbsp;
        <input type="reset" value="{L_RESET}" name="reset" class="button2" /></dd>
    </dl>
    {S_HIDDEN_FIELDS}
    {S_FORM_TOKEN}
  </fieldset>
</form>
<!-- INCLUDE overall_footer.html -->
