<!-- INCLUDE overall_header.html -->

<h1>{L_ACP_SNP_TITLE}</h1>




<form id="acp_board" method="post" action="{U_ACTION}">
<h2>Settings</h2>
	<div class="panel">
		<div class="inner">
			<fieldset>
				<dl>
					<dt><label>IMDb</label><br />
            <span><br>
              Check Allowed to enable IMDb form generator for that group.
            </span>
          </dt>
					<dd>
            <span>
              <table>
                <tbody>
                  <tr>
                    <td>GID</td>
                    <td>Group Name</td>
                    <td>Allowed</td>
                  </tr>
                  <!-- BEGIN aImdb -->
                  <tr>
                    <td>{aImdb.gid}</td>
                    <td>{aImdb.gname}</td>
                    <td>
                      <input type="hidden"
                               name="imdb-{aImdb.gid}"
                               value="0">
                      <input type="checkbox"
                               name="imdb-{aImdb.gid}"
                               id="imdb-{aImdb.gname}"
                             {% if aImdb.gcheck %}value="1" checked{% endif %}>
                    </td>
                  </tr>
                  <!-- END aImdb -->
                </tbody>
              </table>
            </span>
          </dd>
					<dt><label>Anime</label><br />
            <span><br>
              Check Allowed to enable Anime form generator for that group.
            </span>
          </dt>
					<dd>
            <span>
              <table>
                <tbody>
                  <tr>
                    <td>GID</td>
                    <td>Group Name</td>
                    <td>Allowed</td>
                  </tr>
                  <!-- BEGIN aAnilist -->
                  <tr>
                    <td>{aAnilist.gid}</td>
                    <td>{aAnilist.gname}</td>
                    <td>
                      <input type="hidden"
                               name="anilist-{aAnilist.gid}"
                               value="0">
                      <input type="checkbox"
                               name="anilist-{aAnilist.gid}"
                               id="anilist-{aAnilist.gname}"
                             {% if aAnilist.gcheck %}value="1" checked{% endif %}>
                    </td>
                  </tr>
                  <!-- END aAnilist -->
                </tbody>
              </table>
            </span>
          </dd>
					<dt><label>Google Books</label><br />
            <span><br>
              Check Allowed to enable Google Books form generator for that group.
            </span>
          </dt>
					<dd>
            <span>
              <table>
                <tbody>
                  <tr>
                    <td>GID</td>
                    <td>Group Name</td>
                    <td>Allowed</td>
                  </tr>
                  <!-- BEGIN aGooglebooks -->
                  <tr>
                    <td>{aGooglebooks.gid}</td>
                    <td>{aGooglebooks.gname}</td>
                    <td>
                      <input type="hidden"
                               name="googlebooks-{aGooglebooks.gid}"
                               value="0">
                      <input type="checkbox"
                               name="googlebooks-{aGooglebooks.gid}"
                               id="googlebooks-{aGooglebooks.gname}"
                             {% if aGooglebooks.gcheck %}value="1" checked{% endif %}>
                    </td>
                  </tr>
                  <!-- END aGooglebooks -->
                </tbody>
              </table>
            </span>
          </dd>
        </dl>
			</fieldset>
		</div>
	</div>
	<fieldset>
		<dl>
			<dt>&nbsp;</dt>
			<dd><input type="submit" name="submit" id="submit" class="button1" value="{L_SUBMIT}" tabindex="2" />&nbsp;
				<input type="reset" value="{L_RESET}" name="reset" class="button2" /></dd>
		</dl>
		{S_HIDDEN_FIELDS}
		{S_FORM_TOKEN}
	</fieldset>
</form>

<!-- INCLUDE overall_footer.html -->
