<!-- INCLUDE overall_header.html -->

<h1>Post Generator Settings</h1>

<form id="acp_board" method="post" action="{U_ACTION}">
	<div class="panel">
		<div class="inner">
			<fieldset>
        <dl>
					<dt><label>Custom Template</label><br />
            <span><br>
              Check Allowed to enable custom template form generator for that group.<br><br>
              Custom template can be used in any forum.
            </span>
          </dt>
					<dd>
            <span>
              <table>
                <tbody>
                  <tr>
                    <td>GID</td>
                    <td>Group Name</td>
                    <td>Max</td>
                    <td>Allowed</td>
                  </tr>
                  <!-- BEGIN aCustomTemplate -->
                  <tr>
                    <td>{aCustomTemplate.gid}</td>
                    <td>{aCustomTemplate.gname}</td>
                    <td>
                      <input type="number" style="text-align:center; width:40px;"
                                           name="customtemplate-max-{aCustomTemplate.gid}"
                                           min="0"
                                           value="{aCustomTemplate.max}">
                    </td>
                    <td>
                      <input type="hidden"
                               name="customtemplate-{aCustomTemplate.gid}"
                               value="0">
                      <input type="checkbox"
                               name="customtemplate-{aCustomTemplate.gid}"
                               id="customtemplate-{aCustomTemplate.gname}"
                             {% if aCustomTemplate.gcheck %}value="1" checked{% endif %}>
                    </td>
                  </tr>
                  <!-- END aCustomTemplate -->
                </tbody>
              </table>
            </span>
          </dd>
        </dl>
				<dl>
					<dt><label>IMDb</label><br />
            <span><br>
              Check Allowed to enable IMDb form generator for that group.<br><br>
              Add forum ID to the textarea to show the form generator on that forum.
            </span>
          </dt>
					<dd>
            <span>
              <label for="listing_fid">IMDb Forum ID: </label>
              <textarea name="listing_fid" rows="3" style="width:98%">{listing_fid}</textarea>
              <table>
                <tbody>
                  <tr>
                    <td>GID</td>
                    <td>Group Name</td>
                    <td>Allowed</td>
                  </tr>
                  <!-- BEGIN aImdb -->
                  <tr>
                    <td>{aImdb.gid}</td>
                    <td>{aImdb.gname}</td>
                    <td>
                      <input type="hidden"
                               name="imdb-{aImdb.gid}"
                               value="0">
                      <input type="checkbox"
                               name="imdb-{aImdb.gid}"
                               id="imdb-{aImdb.gname}"
                             {% if aImdb.gcheck %}value="1" checked{% endif %}>
                    </td>
                  </tr>
                  <!-- END aImdb -->
                </tbody>
              </table>
            </span>
          </dd>
        </dl>
        <br>
        <dl>
					<dt><label>Anime</label><br />
            <span><br>
              Check Allowed to enable Anime form generator for that group.<br><br>
              Add forum ID to the textarea to show the form generator on that forum.
            </span>
          </dt>
					<dd>
            <span>
              <label for="anime_fid">Anime Forum ID: </label>
              <textarea name="anime_fid" rows="3" style="width:98%">{anime_fid}</textarea>
              <table>
                <tbody>
                  <tr>
                    <td>GID</td>
                    <td>Group Name</td>
                    <td>Allowed</td>
                  </tr>
                  <!-- BEGIN aAnilist -->
                  <tr>
                    <td>{aAnilist.gid}</td>
                    <td>{aAnilist.gname}</td>
                    <td>
                      <input type="hidden"
                               name="anilist-{aAnilist.gid}"
                               value="0">
                      <input type="checkbox"
                               name="anilist-{aAnilist.gid}"
                               id="anilist-{aAnilist.gname}"
                             {% if aAnilist.gcheck %}value="1" checked{% endif %}>
                    </td>
                  </tr>
                  <!-- END aAnilist -->
                </tbody>
              </table>
            </span>
          </dd>
        </dl>
        <br>
        <dl>
					<dt><label>Google Books</label><br />
            <span><br>
              Check Allowed to enable Google Books form generator for that group.<br><br>
              Add forum ID to the textarea to show the form generator on that forum.
            </span>
          </dt>
					<dd>
            <span>
              <label for="book_fid">Googlebooks Forum ID: </label>
              <textarea name="book_fid" rows="3" style="width:98%">{book_fid}</textarea>
              <table>
                <tbody>
                  <tr>
                    <td>GID</td>
                    <td>Group Name</td>
                    <td>Allowed</td>
                  </tr>
                  <!-- BEGIN aGooglebooks -->
                  <tr>
                    <td>{aGooglebooks.gid}</td>
                    <td>{aGooglebooks.gname}</td>
                    <td>
                      <input type="hidden"
                               name="googlebooks-{aGooglebooks.gid}"
                               value="0">
                      <input type="checkbox"
                               name="googlebooks-{aGooglebooks.gid}"
                               id="googlebooks-{aGooglebooks.gname}"
                             {% if aGooglebooks.gcheck %}value="1" checked{% endif %}>
                    </td>
                  </tr>
                  <!-- END aGooglebooks -->
                </tbody>
              </table>
            </span>
          </dd>
        </dl>
        <br>
        <dl>
					<dt><label>Gamespot</label><br />
            <span><br>
              Check Allowed to enable Gamespot form generator for that group.<br><br>
              Add forum ID to the textarea to show the form generator on that forum.
            </span>
          </dt>
					<dd>
            <span>
              <label for="game_fid">Gamespot Forum ID: </label>
              <textarea name="game_fid" rows="3" style="width:98%">{game_fid}</textarea> <table>
                <tbody>
                  <tr>
                    <td>GID</td>
                    <td>Group Name</td>
                    <td>Allowed</td>
                  </tr>
                  <!-- BEGIN aGamespot -->
                  <tr>
                    <td>{aGamespot.gid}</td>
                    <td>{aGamespot.gname}</td>
                    <td>
                      <input type="hidden"
                               name="gamespot-{aGamespot.gid}"
                               value="0">
                      <input type="checkbox"
                               name="gamespot-{aGamespot.gid}"
                               id="gamespot-{aGamespot.gname}"
                             {% if aGamespot.gcheck %}value="1" checked{% endif %}>
                    </td>
                  </tr>
                  <!-- END aGamespot -->
                </tbody>
              </table>
            </span>
          </dd>
        </dl>
			</fieldset>
		</div>
	</div>
	<fieldset>
		<dl>
			<dt>&nbsp;</dt>
			<dd><input type="submit" name="submit" id="submit" class="button1" value="{L_SUBMIT}" tabindex="2" />&nbsp;
				<input type="reset" value="{L_RESET}" name="reset" class="button2" /></dd>
		</dl>
		{S_HIDDEN_FIELDS}
		{S_FORM_TOKEN}
	</fieldset>
</form>

<!-- INCLUDE overall_footer.html -->
