<!-- INCLUDE overall_header.html -->
<h1>{L_ACP_SNP_TITLE}</h1>

<form id="acp_board" method="post" action="{U_ACTION}">
<h2>Notification Settings</h2>
	<div class="panel">
		<div class="inner">
			<fieldset>
        <legend>General Settings</legend>
        <dl>
          <dt>
              <label>Enable Snahp Notification System</label>
          </dt>
					<dd>
              <label><input type="radio" name="b_snahp_notify" class="radio" value="1" {% if b_snahp_notify_checked %}checked="checked"{% endif %}> Yes</label>
              <label><input type="radio" name="b_snahp_notify" class="radio" value="0" {% if not b_snahp_notify_checked %}checked="checked"{% endif %}> No</label>
          </dd>
        </dl>
			</fieldset>
		</div>
	</div>
	<div class="panel">
		<div class="inner">
			<fieldset>
        <legend>Notification Type Dependent Settings</legend>
        <dl>
          <dt>
              <label>Send a notification to the OP when her post is reported for having broken links.</label>
          </dt>
					<dd>
              <label><input type="radio" name="b_notify_op_on_report" class="radio" value="1" {% if b_notify_op_on_report_checked %}checked="checked"{% endif %}> Yes</label>
              <label><input type="radio" name="b_notify_op_on_report" class="radio" value="0" {% if not b_notify_op_on_report_checked %}checked="checked"{% endif %}> No</label>
          </dd>
        </dl>
        <dl>
          <dt>
              <label>Allow users to dispatch notification when using @@username in post</label>
          </dt>
					<dd>
              <label><input type="radio" name="b_notify_on_poke" class="radio" value="1" {% if b_notify_on_poke_checked %}checked="checked"{% endif %}> Yes</label>
              <label><input type="radio" name="b_notify_on_poke" class="radio" value="0" {% if not b_notify_on_poke_checked %}checked="checked"{% endif %}> No</label>
          </dd>
        </dl>
			</fieldset>
		</div>
	</div>
	<fieldset>
		<dl>
			<dt>&nbsp;</dt>
			<dd><input type="submit" name="submit" id="submit" class="button1" value="{L_SUBMIT}" tabindex="2" />&nbsp;
				<input type="reset" value="{L_RESET}" name="reset" class="button2" /></dd>
		</dl>
		{S_HIDDEN_FIELDS}
		{S_FORM_TOKEN}
	</fieldset>
</form>
<!-- INCLUDE overall_footer.html -->
