<!-- INCLUDE overall_header.html -->
<h1>Request Settings</h1>

<form id="acp_board" method="post" action="{U_ACTION}">

  <fieldset>
    <legend>Advanced Management Console and Scripts</legend>
    <dl>
      <dt><label>Request Database Management</label><br>
        Perform resynchronization of phpbb_snahp_requests table
      </dt>
      <dd>
        <a href="/app.php/snahp/acp_reqs/manage/">Go to Management Console</a>
      </dd>
    </dl>
    <dl>
      <dt><label>Requests Solved Management</label><br>
        Perform resynchronization of snp_thanks_n_solve in phpbb_users table
      </dt>
      <dd>
        <a href="/app.php/snahp/acp_reqs/handle/rurs/">Go to Management Console</a>
      </dd>
    </dl>
  </fieldset>

  <fieldset>
    <dl>
      <dt><label>Enable Request System</label>
        <span><br>
          Master switch to enable/disable request system
        </span>
      </dt>
      <dd>
        <label><input type="radio" name="snp_b_request" class="radio" value="1" {% if SNP_B_REQUEST %}checked="checked"{% endif %}> Yes</label>
        <label><input type="radio" name="snp_b_request" class="radio" value="0" {% if not SNP_B_REQUEST %}checked="checked"{% endif %}> No</label>
      </dd>
    </dl>
  </fieldset>

  <fieldset>
    <dl>
      <dt><label>Suspend requests for users with outstanding fulfillment</label><br>
      </dt>
      <dd>
        <label><input type="radio" name="snp_req_b_suspend_outstanding" class="radio" value="1" {% if SNP_REQ_B_SUSPEND_OUTSTANDING %}checked="checked"{% endif %}> Yes</label>
        <label><input type="radio" name="snp_req_b_suspend_outstanding" class="radio" value="0" {% if not SNP_REQ_B_SUSPEND_OUTSTANDING %}checked="checked"{% endif %}> No</label>
      </dd>
    </dl>
  </fieldset>

  <fieldset>
    <dl>
      <dt><label>Request Forum ID</label><br />
        <span><br>
          Add forum ID to the textarea to apply request statistics and rules.
        </span>
      </dt>
      <dd>
        <span>
          <textarea name="request_fid" rows="4" style="width:98%">{request_fid}</textarea>
        </span>
      </dd>
      <br>
  </fieldset>

  <fieldset>
    <dl>
      <dt><label>Request Template Form</label><br />
        <span><br>
          Set correct FID for each category.<br>
          For example, "Movies Requests" has fid of 17.<br>
        </span>
      </dt>
      <dd>
        <span>
          <table>
            <tbody>
              <tr>
                <td>Category</td>
                <td>FID</td>
              </tr>
              <!-- BEGIN POSTFORM_FID -->
              <tr>
                <td>{POSTFORM_FID.name}</td>
                <td>
                  <input type="number" style="text-align:center; width:40px;"
                                       name="postform-{POSTFORM_FID.name}"
                                       value="{POSTFORM_FID.fid}">
                </td>
              </tr>
              <!-- END POSTFORM_FID -->
            </tbody>
          </table>
        </span>
      </dd>
      <br>
    </dl>
  </fieldset>

  <fieldset>
    <dl>
      <dt><label>Request Users Settings</label><br />
        <span><br>
          Active: (bool) Can make requests<br><br>
          nolim:  (bool) Unlimited slots<br><br>
          base:   (int) Maximum open requests<br><br>
          bonus:  (int) Bonus slots<br><br>
          cycle:  (int) Maximum requests per cycle<br><br>
          solve:  (bool) Can solve fulfilled request<br><br>
        </span>
      </dt>
      <dd>
        <span>
          <table>
            <tbody>
              <tr>
                <td>GID</td>
                <td>Group Name</td>
                <td>Active</td>
                <!-- <td>Nolim</td> -->
                <td>Base</td>
                <td>bonus</td>
                <td>cycle</td>
                <td>solve</td>
              </tr>
              <!-- BEGIN aSignature -->
              <tr>
                <td>{aSignature.gid}</td>
                <td>{aSignature.gname}</td>
                <td>
                  <input type="hidden"
                         name="active-{aSignature.gid}"
                         value="0">
                  <input type="checkbox"
                         name="active-{aSignature.gid}"
                         id="active-{aSignature.gname}"
                         {% if aSignature.active %}value="1" checked{% endif %}>
                </td>
                <!-- <td> <input type="hidden" name="nolimit-{aSignature.gid}" value="0"> <input type="checkbox" name="nolimit-{aSignature.gid}" id="nolimit-{aSignature.nolimit}" {% if aSignature.nolimit %}value="1" checked{% endif %}> </td> -->
                <td>
                  <input type="number" min="0"
                                       style="text-align:center; width:34px;"
                                       name="base-{aSignature.gid}"
                                       value="{aSignature.base}">
                </td>
                <td>
                  <input type="number" min="0"
                                       style="text-align:center; width:34px;"
                                       name="offset-{aSignature.gid}"
                                       value="{aSignature.offset}">
                </td>
                <td>
                  <input type="number" min="0"
                                       style="text-align:center; width:34px;"
                                       name="cycle-{aSignature.gid}"
                                       value="{aSignature.cycle}">
                </td>
                <td>
                  <input type="hidden"
                         name="solve-{aSignature.gid}"
                         value="0">
                  <input type="checkbox"
                         name="solve-{aSignature.gid}"
                         id="solve-{aSignature.gid}"
                         {% if aSignature.solve %}value="1" checked{% endif %}>
                </td>
              </tr>
              <!-- END aSignature -->
            </tbody>
          </table>
        </span>
      </dd>
    </dl>
  </fieldset>

  <fieldset>
    <dl>
      <dt><label>Cycle Time (in seconds)</label>
        <span><br>
          Used to determine how many requests can be made per cycle.<br>
        </span>
      </dt>
      <dd>
        <input type="number" min="0"
                             style="text-align:center; width:80px;"
                             name="cycle_time"
                             value="{cycle_time}"> seconds
      </dd>
    </dl>
    <dl>
      <dt><label>Re-dib Cooldown</label>
        <span><br>
          Once a dibber undibs, she needs to wait before re-dibbing the same request.
        </span>
      </dt>
      <dd>
        <input type="number" min="0"
                             style="text-align:center; width:80px;"
                             name="redib_cooldown_time"
                             value="{redib_cooldown_time}"> seconds
      </dd>
    </dl>
  </fieldset>

  <fieldset>
    <dl>
      <dt><label>Show Statistics Bar on Requests Section</label><br>
      </dt>
      <dd>
        <label><input type="radio" name="snp_req_b_statbar" class="radio" value="1" {% if SNP_REQ_B_STATBAR %}checked="checked"{% endif %}> Yes</label>
        <label><input type="radio" name="snp_req_b_statbar" class="radio" value="0" {% if not SNP_REQ_B_STATBAR %}checked="checked"{% endif %}> No</label>
      </dd>
    </dl>
  </fieldset>

  <fieldset>
    <h2>Moving Closed Requests to Graveyard</h2><br>
    <dl>
      <dt><label>Enable Cron</label><br>
        <span><br>
          Yes will enable scheduled moving of closed requests to the graveyard.<br>
        </span>
      </dt>
      <dd>
        <label><input type="radio" name="cron_b_graveyard" class="radio" value="1" {% if CRON_B_GRAVEYARD %}checked="checked"{% endif %}> Yes</label>
        <label><input type="radio" name="cron_b_graveyard" class="radio" value="0" {% if not CRON_B_GRAVEYARD %}checked="checked"{% endif %}> No</label>
      </dd>
    </dl>
    <dl>
      <dt><label>Graveyard FID</label><br>
        <span><br>
          The forum id of the graveyard.<br>
          Closed requests will be sent to this forum.
        </span>
      </dt>
      <dd>
        <input type="number" min="0"
                             style="text-align:center; width:40px;"
                             name="graveyard_fid"
                             value="{GRAVEYARD_FID}">
      </dd>
    </dl>
    <dl>
      <dt><label>Last Moved Time</label>
        <span><br>
          Last time closed requests were moved to the graveyard.<br>
        </span>
      </dt>
      <dd>
        <input type="number" min="0"
                             style="text-align:center; width:96px;"
                             name="cron_graveyard_last"
                             value="{CRON_GRAVEYARD_LAST}">
        <br>
        <span>{CRON_GRAVEYARD_LAST0}</span>
      </dd>
    </dl>
    <dl>
      <dt><label>Graveyard Cycle Time</label>
        <span><br>
          Minimum time between cron task to move closed requests to graveyard.<br>
        </span>
      </dt>
      <dd>
        <input type="number" min="0"
                             style="text-align:center; width:96px;"
                             name="cron_graveyard"
                             value="{CRON_GRAVEYARD}"> seconds
        <br>
        <span>{CRON_GRAVEYARD_NEXT}</span>
      </dd>
    </dl>
  </fieldset>

  <fieldset>
    <dl>
      <dt>&nbsp;</dt>
      <dd><input type="submit" name="submit" id="submit" class="button1" value="{L_SUBMIT}" tabindex="2" />&nbsp;
        <input type="reset" value="{L_RESET}" name="reset" class="button2" /></dd>
    </dl>
    {S_HIDDEN_FIELDS}
    {S_FORM_TOKEN}
  </fieldset>

</form>

<!-- INCLUDE overall_footer.html -->
