<script>
  {% include '@jeb_snahp/mcp/scripts/component/script_table/base.js' %}
</script>
<style>
  {% include '@jeb_snahp/mcp/scripts/component/script_table/base.css' %}
</style>
{% if B_ENABLE %}
<div class="panel">
  <h2>Moderator Scripts</h2>
  <div class="inner">
    <div class="twbs">
      <table class="table table-sm table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">For</th>
            <th scope="col">Script Name</th>
            <th scope="col">Description</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
		<!-- BEGIN postrow -->
          <tr>
            <th scope="col">{postrow.ID}</th>
            <td>{postrow.PURPOSE}</td>
            <td>{postrow.NAME}</td>
            <td>{postrow.DESCRIPTION}</td>
            <td>{postrow.LINK}</td>
          </tr>
		<!-- END postrow -->
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}
