<table class="table1 memberlist show-header responsive">
  <thead>
    <tr>
      <th><a href="#" style="width:88px">Category</a></th>
      <th style="text-align:left;"><a href="#">Topic</a></th>
      <th><a href="#">Replies</a></th>
      <th><a href="#">Views</a></th>
    </tr>
  </thead>
  <tbody>
    <!-- BEGIN postrow -->
    <tr class="<!-- IF postrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
      <td style="width:92px;">
        <a href="/viewforum.php?f={postrow.FORUM_ID}"><img style="width:88px;" src="{postrow.U_IMG_URL}"></img></a>
      </td>
      <td>
        <div>
          <a href="{postrow.U_VIEW_DETAILS}" class="topictitle">{postrow.TOPIC_TITLE}</a><br />
          Posted in <b><a href="/viewforum.php?f={postrow.FORUM_ID}">{postrow.FORUM_NAME}</a></b><br>
          <span>{L_POSTED} {L_POST_BY_AUTHOR} <a href="/memberlist.php?mode=viewprofile&amp;u={postrow.POSTER_ID}" style="color: #{postrow.POSTER_COLOUR};" class="username-coloured">{postrow.POSTER_NAME}</a> &raquo; {postrow.TOPIC_TIME}</span>
        </div>
        </div>
      </td>
      <td class="posts" style="min-width:60px;">
        {postrow.REPLIES}
      </td>
      <td class="posts" style="min-width:60px;">
        {postrow.TOPIC_VIEWS}
      </td>
    </tr>
    <!-- END postrow -->
  </tbody>
</table>
