{% if B_INVITE_EXISTS %}
<div>
  <table class="table table-sm table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="text-center" scope="col">CODE</th>
        <th class="text-center" scope="col">REDEEMED BY</th>
        <th class="text-center" scope="col">REDEEMED ON</th>
        <th class="text-center" scope="col">STATUS</th>
      </tr>
    </thead>
    <tbody id="invite_content">
      <!-- BEGIN A_INVITE -->
      <tr>
        <td class="text-center">{A_INVITE.keyphrase}</td>
        <td class="text-center"><b>{A_INVITE.redeemer}</b></td>
        <td class="text-center">{A_INVITE.redeem_time}</td>
        <td class="text-center">{A_INVITE.status_strn}</td>
      </tr>

      <!-- END A_INVITE -->
    </tbody>
  </table>
</div>
{% endif %}
