<!-- INCLUDE overall_header.html -->
<!-- INCLUDEJS @jeb_snahp/bootstrap4.min.js -->
<!-- INCLUDECSS @jeb_snahp/bootstrap4-ns.min.css -->

<style>
{% include '@jeb_snahp/analytics/component/base.css' %}
</style>
<script>
{% include '@jeb_snahp/analytics/component/base.js' %}
</script>

<div class="twbs">
  <div class="searchbox_wrapper">
    <div class="input-group mb-3">
      <input id="tid_searchbox" type="text" class="form-control" placeholder="Enter topic id's separated by commas">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" onClick="json_common_thanks();">Analyze</button>
      </div>
    </div>
  </div>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th class="text-center" scope="col">#</th>
        <th class="text-center" scope="col">USER ID</th>
        <th class="text-center" scope="col">USERNAME</th>
        <th class="text-center" scope="col">THANKED</th>
        <th class="text-center" scope="col">TOPICS</th>
      </tr>
    </thead>
    <tbody id="content">
    </tbody>
  </table>
</div>



<!-- INCLUDE overall_footer.html -->
