<!-- INCLUDE overall_header.html -->
<script charset="utf-8">
  $(document).ready(function(){
    Form_util.disable_resubmit();
  });
</script>

<div class="twbs">
  {% include '@jeb_snahp/rh_tags/component/nav/base.html' %}
  <form action="{U_ACTION}" method="POST">
    <div class="form-group mb-2">
      <textarea class="form-control mt-2" name="whitelist" id="whitelist_textarea" rows="3">{RH_TAGS_WHITELIST}</textarea>
    </div>
    <button type="submit" name="submit" class="btn btn-success btn-block">Save</button>
    {S_FORM_TOKEN}
  </form>

</div>


<!-- INCLUDE overall_footer.html -->
