/* Favorites */
tr.favorite:hover
{
    background-color: #333 !important;
}

.title .topictitle
{
    font-size: 16px;
}


/* hidebox */
.hidebox.hi
{
    background-color: #f8c301;
    border: 0;
}
.hidebox.hi dd
{
    color: black;
}
.hidebox.unhide
{
    background-color: #111;
}
.hidebox.hi dd i
{
    color: black;
}

/* Request Template */
.request_table.wrapper {
    border: 5px solid #f8c301;
    background: #f8c301;j
}
.request_table.wrapper a {
    color: #0080FF;
}

/* Curlies */
table.autofill td{
    color: white;
}
table.autofill tr{
    background:#000;
}
table.autofill tr:nth-child(odd) {
    background:#0A0A0A;
}
input.autofill {
    background:black;
    border: 2px solid #f8c301;
}
input.search_master {
    background:black;
    border: 2px solid #f8c301;
}

/* bootstrap modal */
.twbs .modal-header,
.twbs .modal-body,
.twbs .modal-footer
{
    background-color: black !important;
}
.twbs .card {
    background-color: black !important;
    border: 1px solid #444 !important;
}
.twbs .card-footer {
    background-color: #111 !important;
    border-top: 1px solid #444 !important;
}
.twbs .close {
    color: #FFF !important;
}
.twbs .modal-content {
    background-color: black !important;
}

/* bootstrap table */
.twbs .table
{
    color: #EEE !important;
}
.twbs .table td,
.twbs .table th
{
    border-top: 1px solid #222 !important;
}
.twbs textarea,
.twbs input
{
    background-color: black;
    border: 1px solid #777 !important;
}
.twbs .form-control {
    background-color: black !important;
    border: 1px solid #777 !important;
    color: #EEE !important;
}

/* gallery */
div.card-body > h6
{
    color: #CCC;
}

/* codebox resizing and scrollbar */

div.codebox pre
{
    scrollbar-color: #f8c301 #2E3645 !important;
    scrollbar-width: thin !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #2e3645 !important;
}

::-webkit-scrollbar-thumb {
    background: #f8c301;
    -webkit-border-radius: .6ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
    -webkit-border-radius: 1ex;
}

/* defaults */
.default_text_color
{
    color: #eee !important;
}
