/* hidebox */
.hidebox.unhide
{
    background-color: #EEEEE4;
}

/* curlies */
table.autofill td{
    color: black;
}
table.autofill tr{
    background:#FFF;
}
table.autofill tr:nth-child(odd) {
    background:#F4F4F4;
}

/* Favorite quick links */
thead, tbody, tfoot { vertical-align: middle }
td.category, tr { vertical-align: inherit }

