/* hidebox */
div.content > dl.hidebox.unhide
{
    background-color: #F8F8FA;
}

/* curlies */
table.autofill td{
    color: black;
}
table.autofill tr{
    background:#FFF;
}
table.autofill tr:nth-child(odd) {
    background:#F4F4F4;
}
