<script>
  {% include '@jeb_snahp/mcp/invite/component/list_invites.js' %}
</script>

<div>
  <table class="table table-sm table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="text-center" scope="col">ID</th>
        <th class="text-center" scope="col">INVITER ID</th>
        <th class="text-center" scope="col">CODE</th>
        <th class="text-center" scope="col">REDEEMER</th>
        <th class="text-center" scope="col">CREATE TIME</th>
        <th class="text-center" scope="col">REDEEM TIME</th>
        <th class="text-center" scope="col">STATUS</th>
        <th class="text-center" scope="col">DISABLE</th>
      </tr>
    </thead>
    <tbody id="invite_content">
    </tbody>
  </table>
</div>

