<script>
  {% include '@jeb_snahp/mcp/invite/component/searchbox.js' %}
</script>
<div class="searchbox_wrapper" style="margin-top:5px;">
  <div class="input-group mb-3" style="margin-bottom:6px !important;">
    <input id="username_searchbox" type="text" class="form-control" placeholder="Enter Inviter ID">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="list_btn">Search</button>
    </div>
  </div>
  <div id="ajax_usernames" style="height:20px; margin-bottom:6px; font-size: 16px;">
  </div>
</div>
