div.rh_tag,
div.rh_tag > a,
div.rh_tag:hover,
div.rh_tag:hover > a {
  display: none;
}

.encoder_group.rh_tag,
.encoder_group.rh_tag:hover,
.encoder_group.rh_tag > a,
.encoder_group.rh_tag:hover > a,
.postbody .rh_tag,
.postbody .rh_tag:hover,
.postbody .rh_tag > a,
.postbody .rh_tag:hover > a,
.rh_topictags_whitelist .rh_tag,
.rh_topictags_whitelist .rh_tag:hover,
.rh_topictags_whitelist .rh_tag > a,
.rh_topictags_whitelist .rh_tag:hover > a {
  display: inline;
  padding: 1px 2px 2px 2px;
  line-height: 1.2rem;
  border-radius: 0;
  font-size: 0.55rem;
  text-decoration: None;
}

tags-input .tags,
tags-input .host {
  height: auto !important;
}
