{% include '@jeb_snahp/form_injector/component/input/component/imdb/base.html' %}
{% include '@jeb_snahp/form_injector/component/input/component/discogs/base.html' %}
{% include '@jeb_snahp/form_injector/component/input/component/anilist/base.html' %}
{% include '@jeb_snahp/form_injector/component/input/component/googlebooks/base.html' %}
{% include '@jeb_snahp/form_injector/component/input/component/goodreads/base.html' %}
{% include '@jeb_snahp/form_injector/component/input/component/gamespot/base.html' %}
{% include '@jeb_snahp/form_injector/component/input/component/mydramalist/base.html' %}
{% include '@jeb_snahp/form_injector/component/input/component/custom_template/base.html' %}
