<!-- INCLUDE overall_header.html -->

<p>{ELAPSED_TIME}</p>
<div class="twbs">
  <div class="account_info">
    <div class="row mt-3">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Account Information</h5>
            <div class="row">
              <div class="col-6">
                <p>Tokens:</p>
              </div>
              <div class="col-6">
                <p>{N_TOKEN}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Transaction History</h5>
            {% include '@jeb_snahp/test/component/transactions/base.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="transaction_history">
  </div>
</div>


<!-- INCLUDE overall_footer.html -->
