<div class="row">

  <table class="table table-sm table-striped mb-0">
    <thead>
      <tr>
        <th clope="col">ID</th>
        <th clope="col">Time</th>
        <th clope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <!-- BEGIN HISTORY -->
      <tr>
        <td>{HISTORY.transaction_id}-{HISTORY.id}</td>
        <td>{HISTORY.created_time_strn}</td>
        <td>{% if HISTORY.comment %}{HISTORY.comment}{% endif %}</td>
      </tr>
      <!-- END HISTORY -->
    </tbody>
  </table>

</div>
