<dl>
  <dt>
    <label>Resolution:</label>
  </dt>
  <dd>
    <input class="req_cb" type="checkbox" name="req_v_res_sd" id="req_v_res_sd" value="1">
    <label class="req_cb_label" for="req_v_res_sd">SD/480p</label>
    <input class="req_cb" type="checkbox" name="req_v_res_720" id="req_v_res_720" value="1">
    <label class="req_cb_label" for="req_v_res_720">720p</label>
    <input class="req_cb" type="checkbox" name="req_v_res_1080" id="req_v_res_1080" value="1">
    <label class="req_cb_label" for="req_v_res_1080">1080p</label>
    <input class="req_cb" type="checkbox" name="req_v_res_4k" id="req_v_res_4k" value="1">
    <label class="req_cb_label" for="req_v_res_4k">4K</label>
  </dd>
</dl>
