.modal-dialog .close
{
    position: absolute;!important;
    top: 0px;!important;
    right: 6px;!important;
    z-index: 1000;!important;
    margin: 0px !important;
    outline: none !important;
    height: 0px;
    opacity: 1 !important;
    font-size: 28px !important;

}

.modal-dialog
{
    max-width: 70vw !important;
    position: relative;
    top: 50%;
    transform: translateY(-53%);
}

.beer-slider {
    font-family: Montserrat;
    /* text-transform: uppercase; */
    /* font-size: 0.75rem; */
    letter-spacing: 1px;
}

.imgcompare_thumbnail_left
{
    height: 150px;
}

.crop_top
{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
    max-height: 75px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.crop_bottom
{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    height: 150px;
    overflow: hidden;
}

.imgcompare_thumbnail_right
{
    height: 150px;
}

.imgcompare_thumbnail_container
{
    position: relative;
    height: 150px;
    max-width: 50px;
}
