{# <!-- <link rel="stylesheet" type="text/css" href="/ext/jeb/snahp/styles/all/template/imgcompare/base.css"> --> #}
{# <!-- <script type="text/javascript" src="/ext/jeb/snahp/styles/all/template/imgcompare/base.js"></script> --> #}
{# <!-- <link rel="stylesheet" type="text/css" href="/ext/jeb/snahp/styles/all/template/imgcompare/BeerSlider.css"> --> #}
{# <!-- <script type="text/javascript" src="/ext/jeb/snahp/styles/all/template/imgcompare/BeerSlider.js"></script> --> #}
<!-- INCLUDECSS @jeb_snahp/imgcompare/base.css -->
<!-- INCLUDECSS @jeb_snahp/imgcompare/BeerSlider.css -->
<!-- INCLUDEJS @jeb_snahp/imgcompare/base.js -->
<!-- INCLUDEJS @jeb_snahp/imgcompare/BeerSlider.js -->

<div class="twbs">
  <div class="modal fade" id="imgcompare_modal" tabindex="-1" role="dialog" aria-labelledby="imgcompare_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-0">
        <div class="modal-body p-0">
        </div>
      </div>
    </div>
  </div>
</div>
