<link rel="stylesheet" type="text/css" href="/ext/jeb/snahp/styles/all/template/imgcompare/base.css">
<script type="text/javascript" src="/ext/jeb/snahp/styles/all/template/imgcompare/base.js"></script>
<link rel="stylesheet" type="text/css" href="/ext/jeb/snahp/styles/all/template/imgcompare/BeerSlider.css">
<script type="text/javascript" src="/ext/jeb/snahp/styles/all/template/imgcompare/BeerSlider.js"></script>

<div class="twbs">
  <!-- Modal -->
  <div class="modal fade" id="imgcompare_modal" tabindex="-1" role="dialog" aria-labelledby="imgcompare_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-0">
        <div class="modal-body p-0">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(window).resize(()=>{
    ImgCompare.update_modal_window();
  })
</script>
