<!-- INCLUDE overall_header.html -->
{% if IS_BROADCAST_PAGE %}
  <h2>My Broadcasts</h2>
  <h4><a href="/snahp/digg/subscriptions"><strong>View subscriptions</strong></a></h4>
{% elseif IS_SUBSCRIPTION_PAGE %}
  <h2>My Subscriptions</h2>
  <h4><a href="/snahp/digg/broadcasts"><strong>View broadcasts</strong></a></h4>
{% endif %}
<div class="action-bar bar-top">
  <div class="pagination">
    <!-- IF .pagination -->
    <!-- INCLUDE pagination.html -->
    <!-- ELSE -->
    &bull; {PAGE_NUMBER}
    <!-- ENDIF -->
  </div>
</div>
<div class="forumbg">
  <div class="inner">
    <ul class="topiclist">
      <li class="header">
        <dl class="row-item">
          <dt><div class="list-inner">Topics</div></dt>
        </dl>
      </li>
    </ul>
    {% if postrow %}
      <ul class="topiclist">
        {% for entry in postrow %}
          <li class="row<!-- IF postrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
            <dl>
              <dt>
              <div class="list-inner" style="width:100%;">
                <a href="{entry.U_TOPIC}" class="topictitle">{entry.TOPIC_TITLE}</a><br />
                <span>Last broadcast on {entry.BROADCAST_TIME}</span>
              </div>
              </dt>
            </dl>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
<div class="action-bar bottom">
  <div class="pagination">
    {TOTAL_REQUEST}
    <!-- IF .pagination -->
    <!-- INCLUDE pagination.html -->
    <!-- ELSE -->
    &bull; {PAGE_NUMBER}
    <!-- ENDIF -->
  </div>
</div>
<!-- INCLUDE overall_footer.html -->
