<div class="d-flex justify-content-center my-1">
  <h6>Your Recent Thanks History</h6>
</div>
<div class="d-flex justify-content-center m-0">
  <div>
    <table
      class="table table-dark table-sm table-striped mb-1"
      style="font-size: 0.9em;"
    >
      {% for time in TIMESTAMPS %}
        {% if time %}
          <tr>
            <td>
              {{ loop.index}}
            </td>
            <td>
              {time|date("m/d/Y g:i:s A")}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
</div>
