<div class="card mt-2 mx-auto" style="max-width: 500px;">
  <div class="card-header py-2">
    <h6 class="m-0 p-0">
      Thanks Resetter
    </h6>
  </div>
  <div class="card-body py-2">
    <p class="m-0 p-0" style="font-size:1.3em;">
    Registered users are allowed up to 25 thanks in a 24 hour window. Using a thanks reset token will initiate a new cycle. The reset token can be purchased from our <a href="/app.php/snahp/economy/dashboard/overview/" target="_blank"><b>shop</b></a>.
    </p>
  </div>
</div>
