<!-- INCLUDE overall_header.html -->
<style>
  {% include '@jeb_snahp/wiki/component/editor/base.css' %}
  {% if STYLE_NAME=='hexagon' or STYLE_NAME=='acieeed' %}
  {% include '@jeb_snahp/wiki/component/editor/dark.css' %}
  {% endif %}
</style>

<script>
  {% include '@jeb_snahp/wiki/component/editor/base.js' %}
</script>

<div class="twbs">

  <div>
    <form method="post">
      {S_FORM_TOKEN}
      <div class="input-group mb-2">
        <input type="text" class="form-control" name="wiki_editor_name" id="wiki_editor_name" value="{WIKI_NAME}" maxlength="50">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" name="load" value="load" id="list_btn">Load</button>
        </div>
      </div>
      <div class="form-group mb-2">
        <textarea class="form-control" name="wiki_editor_textarea" id="wiki_editor_textarea" rows="10" maxlength="60000">{WIKI_TEXT}</textarea>
      </div>
      <div class="form-group mb-3">
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <div class="form-check pull-right">
              <input type="checkbox" class="form-check-input" value="on" name="wiki_editor_cb_public" id="wiki_editor_cb_public"
              {% if B_PUBLIC %}checked{% endif %}>
              <label class="form-check-label" for="wiki_editor_cb_public">Public</label>
            </div>
          </div>
        </div>
      </div>
      <div class="mx-2">
        <div class="row mb-2">
          <button ondblclick="Wiki_editor.delete();" type="button" class="btn btn-danger ml-2 mx-1 mr-auto w-10">Delete</button>
          <a role="button" href="/app.php/snahp/wiki/{WIKI_NAME}/" class="btn btn-primary mx-1" style="color:#FFF !important;"target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> View</a>
          <button type="submit" name="submit" value="submit" class="btn btn-success mx-2 w-50">Save</button>
        </div>
      </div>
    </form>
  </div>

  <div class="card">
    <div class="card-body p-1 pb-2">
      {% for entry in WIKI_NAMES %}
      <a href="/app.php/snahp/wiki_editor/edit/?name={entry.name|e}" class="badge btn-secondary"
                                                                     style="color:white !important; text-decoration: none;">{entry.name|e}</a>
      {% endfor %}
    </div>
  </div>

</div>
<!-- INCLUDE overall_footer.html -->
