{% if B_SHOW_THANKS_AVATAR and postrow.THANKS_GIVEN %}

<!-- IF not $varset_0db99683f1 -->
  <!-- DEFINE $varset_0db99683f1 = true -->
  <!-- INCLUDECSS @jeb_snahp/avatar/component/thanks/base.css -->
<!-- ENDIF -->

<dd class="profile-posts">
  <strong>Has thanked: 
    <span class="text_secondary">
      {postrow.THANKS_GIVEN} {% if postrow.THANKS_GIVEN==1 %}time{% else %}times{% endif %}
    </span>
  </strong>
</dd>
{% endif %}
{% if B_SHOW_THANKS_AVATAR and postrow.THANKS_RECEIVED %}
<dd class="profile-posts">
  <strong>Been thanked:
    <span class="text_secondary">
      {postrow.THANKS_RECEIVED} {% if postrow.THANKS_RECEIVED==1 %}time{% else %}times{% endif %}
    </span>
  </strong>
</dd>
{% endif %}
{% if B_SHOW_REQUESTS_SOLVED and postrow.REQUESTS_SOLVED %}
<dd class="profile-posts">
  <strong>Has solved: 
    <span class="text_secondary">
      {postrow.REQUESTS_SOLVED} 
      {% if postrow.REQUESTS_SOLVED==1 %}
      request
      {% else %}
      requests
      {% endif %}
    </span>
    {% include '@jeb_snahp/avatar/component/request_solved_image/base.html' %}
  </strong>
</dd>
{% endif %}
{% include '@jeb_snahp/avatar/component/reputation/base.html' %}
