<dl>
  <dt>
    <label>Codec:</label>
  </dt>
  <dd>
    <input class="req_cb" type="checkbox" name="req_v_codec_264" id="req_v_codec_264" value="1">
    <label class="req_cb_label" for="req_v_codec_264">x264/H264</label>
    <input class="req_cb" type="checkbox" name="req_v_codec_265" id="req_v_codec_265" value="1">
    <label class="req_cb_label" for="req_v_codec_265">x265/HEVC</label>
    <input class="req_cb" type="checkbox" name="req_v_codec_vp9" id="req_v_codec_vp9" value="1">
    <label class="req_cb_label" for="req_v_codec_vp9">VP9</label>
    <input class="req_cb" type="checkbox" name="req_v_codec_xvid" id="req_v_codec_xvid" value="1">
    <label class="req_cb_label" for="req_v_codec_xvid">XviD</label>
  </dd>
</dl>
