<dl>
  <dt>
    <label>Source:</label>
  </dt>
  <dd>
    <input class="req_cb" type="checkbox" name="req_v_src_bluray" id="req_v_src_bluray" value="1">
    <label class="req_cb_label" for="req_v_src_bluray">Blu-Ray/REMUX</label>
    <input class="req_cb" type="checkbox" name="req_v_src_dvd" id="req_v_src_dvd" value="1">
    <label class="req_cb_label" for="req_v_src_dvd">DVDRip</label>
    <input class="req_cb" type="checkbox" name="req_v_src_web" id="req_v_src_web" value="1">
    <label class="req_cb_label" for="req_v_src_web">Web-DL/WEBRip</label>
    <input class="req_cb" type="checkbox" name="req_v_src_hdtv" id="req_v_src_hdtv" value="1">
    <label class="req_cb_label" for="req_v_src_hdtv">HDTV</label>
    <input class="req_cb" type="checkbox" name="req_v_src_sdtv" id="req_v_src_sdtv" value="1">
    <label class="req_cb_label" for="req_v_src_sdtv">SDTV</label>
  </dd>
</dl>
