<dl>
  <dt>
    <label>Format:</label>
  </dt>
  <dd>
    <input class="req_cb" type="checkbox" name="req_v_format_3d" id="req_v_format_3d" value="1">
    <label class="req_cb_label" for="req_v_format_3d">3D</label>
    <input class="req_cb" type="checkbox" name="req_v_format_fulldisc" id="req_v_format_fulldisc" value="1">
    <label class="req_cb_label" for="req_v_format_fulldisc">Full Disc</label>
    <input class="req_cb" type="checkbox" name="req_v_format_remux" id="req_v_format_remux" value="1">
    <label class="req_cb_label" for="req_v_format_remux">Remux</label>
    <input class="req_cb" type="checkbox" name="req_v_format_encode" id="req_v_format_encode" value="1">
    <label class="req_cb_label" for="req_v_format_encode">Encode</label>
  </dd>
</dl>
