{% if S_USER_ID > 1 %}
{% if B_SHOW_QL_TIME %}
<li>
  <a href="/app.php/snahp/favorite/oneday/" id="quicklinks_oneday" role="menuitem" style="cursor:pointer;">
    <i class="icon fa-clock-o fa-fw" aria-hidden="true"></i><span>New Listings</span>
  </a>
</li>
{% endif %}
{% if B_SHOW_QL_VIEWS %}
<li>
  <a href="/app.php/snahp/favorite/popular/" id="quicklinks_popular" role="menuitem" style="cursor:pointer;">
    <i class="icon fa-users fa-fw" aria-hidden="true"></i><span>Popular Listings</span>
  </a>
</li>
{% endif %}
{% if B_SHOW_QL_REPLIES %}
<li>
  <a href="/app.php/snahp/favorite/replies/" id="quicklinks_replies" role="menuitem" style="cursor:pointer;">
    <i class="icon fa-coffee fa-fw" aria-hidden="true"></i><span>Most Discussed</span>
  </a>
</li>
{% endif %}
{% if B_SHOW_THANKS_GIVEN %}
<li>
  <a href="/app.php/snahp/favorite/thanks_given/" id="quicklinks_thanks_given" role="menuitem" style="cursor:pointer;">
    <i class="icon fa-thumbs-up fa-fw" aria-hidden="true"></i><span>Thanks Given</span>
  </a>
</li>
{% endif %}
{% if B_SHOW_BOOKMARK %}
<li>
  <a href="/ucp.php?i=ucp_main&mode=bookmarks" id="quicklinks_bookmark" role="menuitem" style="cursor:pointer;">
    <i class="icon fa-bookmark fa-fw" aria-hidden="true"></i><span>Bookmarks</span>
  </a>
</li>
{% endif %}
{% if B_SHOW_OPEN_REQUESTS %}
<li>
  <a href="/app.php/snahp/favorite/open_requests/" id="quicklinks_open_requests" role="menuitem" style="cursor:pointer;">
    <i class="icon fa-folder-open fa-fw" aria-hidden="true"></i><span>Open Requests</span>
  </a>
</li>
{% endif %}
{% if B_SHOW_ACCEPTED_REQUESTS %}
<li>
  <a href="/app.php/snahp/favorite/accepted_requests/" id="quicklinks_accepted_requests" role="menuitem" style="cursor:pointer;">
    <i class="icon fa-folder-open fa-fw" aria-hidden="true"></i><span>Accepted Requests</span>
  </a>
</li>
{% endif %}
<!-- <li> -->
<!--   <a onClick="Seasonal_theme.toggle_thanksgiving();" id="toggle_seasonal" role="menuitem" style="cursor:pointer;"> -->
<!--     <i class="icon fa-eye-slash fa-fw" aria-hidden="true"></i><span>Toggle Seasonal Theme</span> -->
<!--   </a> -->
<!-- </li> -->
{% if true %}
<li>
  <a href="/app.php/snahp/poi/poi/" id="quicklinks_poi" role="menuitem" style="cursor:pointer;">
    <i class="fa fa-map-signs" aria-hidden="true"></i><span style="margin-left: 3px;">POI</span>
  </a>
</li>
{% endif %}
{% endif %}
