<style>
  .twbs .hidden {
    display: none;
  }

</style>
<div class="twbs">
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th class="text-center" scope="col">GID</th>
        <th scope="col">GROUP NAME</th>
        <th class="text-center" scope="col">CREATE</th>
        <th scope="col">HOW MANY</th>
        <th class="text-center" scope="col">SEND</th>
        <th class="text-center" scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody id="content">
      <!-- BEGIN A -->
      <tr>
        <td class="text-center">{A.group_id}</td>
        <td id="group_name_{A.group_id}">{A.group_name}</td>
        <td class="text-center"><button onclick="create_confirm({A.group_id});"style="font-size:10px; padding:1px 5px 1px 5px;" type="button" class="btn btn-warning">Create</button></td>
        <td><input class="text-right" type="number" min="0" max="9" name="n_{A.group_id}" value="0" id="n_{A.group_id}"> Invites</td>
        <td class="text-center"><button onclick="send_confirm({A.group_id});"style="font-size:10px; padding:1px 5px 1px 5px;" type="button" class="btn btn-success">Send</button></td>
        <td class="text-center"><button onclick="delete_confirm({A.group_id});"style="font-size:10px; padding:1px 5px 1px 5px;" type="button" class="btn btn-danger">Delete</button></td>
      </tr>
      <!-- END A -->
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog" aria-labelledby="confirm_modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirm_title">Please confirm:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="confirm_body">
        </div>
        <div class="modal-footer" id="confirm_footer">
          <button id="confirm_cancel_btn" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button id="confirm_close_btn" type="button" class="btn btn-secondary hidden" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
