<!-- INCLUDE mcp_header.html -->
<!-- INCLUDECSS @jeb_snahp/mcp/admin_table.css -->
<!-- INCLUDEJS @jeb_snahp/mcp/request_user_management.js -->
<!-- INCLUDECSS @jeb_snahp/mcp/request_user_management.css -->

<form id="acp" method="post" action="{U_ACTION}">
<h2>Manage User Request Statistics</h2>
<div class="panel">
	<div class="inner">
	<h3>User Management</h3>
	<fieldset>
	<dl>
    <dt><label for="usernames">Username</label><br>
      Enter username (all lowercase) then press enter.<br>
      If Request User Data is not populated with data, then either that username doesn't exist, or that user has never made a request.
    </dt>
    <dd><label for="usernames"><input placeholder="Enter Username" type="text" name="usernames" id="usernames" value="{USERNAMES}" class="inputbox autowidth"></label></dd>
		<dd><strong><a href="/memberlist.php?mode=searchuser&form=acp&field=usernames" onclick="find_username(this.href); return false;">Find a member</a></strong></dd>
	</dl>
	<hr />
  <div id="reset">
    <button type="button" onClick="reset_user();">Reset this user</button>
  </div>
  <div id="show_requests">
    <button type="button" onClick="show_user_requests();">Show User's Requests</button>
  </div>
	<hr />
  <h2 id="info"></h2>
	<hr />
	<dl>
		<dt><label>Request User Data</label></dt>
	</dl>
  <div id="request_stat_content">
  </div>
	<hr />
	<dl>
		<dt><label>User Requests Details</label></dt>
	</dl>
  <div id="user_request_details">
    <!-- <table id="mcp_req_user_details" class="mcp_table"> -->
    <table class="table.type3 responsive">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Created On</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="mcp_req_user_details">
      </tbody>
    </table>
  </div>
	<hr />
	</fieldset>
	</div>
</div>

<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}
  <input type="reset" value="Reset" name="reset" class="button2" />&nbsp;
	<input type="submit" value="submit" name="submit" class="button1" />
	{S_FORM_TOKEN}
</fieldset>
</form>
<!-- INCLUDE mcp_footer.html -->
