table,
th,
td {
  border: 1px solid black;
}
td {
  text-align: right;
  color: black;
}
td a {
  color: #0080ee;
}
td > input {
  border: 0px;
  text-align: right;
}
#user_id {
  width: 25px;
}

.mcp_table td {
  padding: 4px 10px 4px 10px;
}
