{% if B_SHOW_TOPLIST %}
  <div class="stat-block thanks-list">
    <h3>Thanks Toplist</h3>
    <p>
    {% for item in A_THANKS_TOP_LIST %}
      <a href="./memberlist.php?mode=viewprofile&amp;u={item.USER_ID}" style="color: #{item.USER_COLOUR};" class="username-coloured">{item.USERNAME}</a> ({item.COUNT}){% if loop.last %}{% else  %}, {% endif %}
    {% endfor %}
    </p>
  </div>
  <div class="stat-block thanks-list">
    <h3>Reputation Toplist</h3>
    <p>
    {% for item in A_REPUTATION_TOP_LIST %}
      <a href="./memberlist.php?mode=viewprofile&amp;u={item.USER_ID}" style="color: #{item.USER_COLOUR};" class="username-coloured">{item.USERNAME}</a> ({item.COUNT}){% if loop.last %}{% else  %}, {% endif %}
    {% endfor %}
    </p>
  </div>
  <div class="stat-block thanks-list">
    <h3>Requests Solved Toplist</h3>
    <p>
    {% for item in A_REQUEST_SOLVED_TOP_LIST %}
      <a href="./memberlist.php?mode=viewprofile&amp;u={item.USER_ID}" style="color: #{item.USER_COLOUR};" class="username-coloured">{item.USERNAME}</a> ({item.COUNT}){% if loop.last %}{% else  %}, {% endif %}
    {% endfor %}
    </p>
  </div>
{% endif %}

