<li class="separater"></li>
<li>
  <a href="/app.php/snahp/favorite/oneday/" id="quicklinks_oneday" role="menuitem" style="cursor:pointer;">
    <i class="icon fa-clock-o fa-fw" aria-hidden="true"></i><span>New Listings</span>
  </a>
</li>
<li>
  <a href="/app.php/snahp/favorite/popular/" id="quicklinks_popular" role="menuitem" style="cursor:pointer;">
    <i class="icon fa-clock-o fa-fw" aria-hidden="true"></i><span>Popular Listings</span>
  </a>
</li>
<li>
  <a href="/ucp.php?i=ucp_main&mode=bookmarks" id="quicklinks_bookmark" role="menuitem" style="cursor:pointer;">
    <i class="icon fa-bookmark fa-fw" aria-hidden="true"></i><span>My Bookmarks</span>
  </a>
</li>
<li>
  <a type="button" id="my_open_requests" role="menuitem" style="cursor:pointer;">
    <i class="icon fa-folder-open fa-fw" aria-hidden="true"></i><span>My Open Requests</span>
  </a>
</li>
<div id="open_request_dialog" title="My Open Requests" style="display:none;">
  <table id="open_request_table">
  </table>
</div>
