<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
<!-- INCLUDEJS @jeb_snahp/bootstrap4.min.js -->
<!-- INCLUDECCCCCSS @jeb_snahp/bootstrap4-ns.min.css -->
<!-- INCLUDECSS @jeb_snahp/twbs.css -->
<!-- INCLUDEJS @jeb_snahp/emote_selector.js -->
<!-- When javascript contains curly braces, including with twig will have erratic behavior. -->
<!-- So include using INCLUDEJS directive. -->
<!-- However, INCLUDEJS directive will add javascript at the end. -->
<!-- So if javascript is needed in flow dependent location, use twig to embed the code. -->
{% include '@jeb_snahp/critical.html' %}
<style>
  {% include '@jeb_snahp/base.css' %}
  {% include '@jeb_snahp/host_icons.css' %}
  {% include '@jeb_snahp/request_tags.css' %}
</style>
<!-- INCLUDEJS @jeb_snahp/utility.js -->
<!-- INCLUDEJS @jeb_snahp/base.js -->
{S_HIDDEN_FIELDS}
{S_HIDDEN_FIELDS_ALT}
{S_REQ_HIDDEN_FIELDS}
{% if STYLE_NAME %}
<!-- INCLUDECSS @jeb_snahp/customcss/{STYLE_NAME}.css -->
<!-- INCLUDEJS @jeb_snahp/customcss/{STYLE_NAME}.js -->
{% endif %}
{% if B_SHOW_IMDB %}
<!-- INCLUDEJS @jeb_snahp/form_injector/imdb.js -->
<!-- INCLUDECSS @jeb_snahp/form_injector/imdb.css -->
{% endif %}
{% if B_SHOW_ANILIST %}
<!-- INCLUDEJS @jeb_snahp/form_injector/anilist.js -->
<!-- INCLUDECSS @jeb_snahp/form_injector/anilist.css -->
{% endif %}
{% if B_SHOW_BOOKS %}
<!-- INCLUDEJS @jeb_snahp/form_injector/googlebooks.js -->
<!-- INCLUDECSS @jeb_snahp/form_injector/googlebooks.css -->
{% endif %}
{% if B_SHOW_GAMES %}
<!-- INCLUDEJS @jeb_snahp/form_injector/gamespot.js -->
<!-- INCLUDECSS @jeb_snahp/form_injector/gamespot.css -->
{% endif %}
{% if B_SHOW_MYDRAMALIST %}
<!-- INCLUDEJS @jeb_snahp/form_injector/mydramalist.js -->
<!-- INCLUDECSS @jeb_snahp/form_injector/mydramalist.css -->
{% endif %}
<!-- INCLUDECSS @jeb_snahp/form_injector/pg-modal.css -->
