<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- INCLUDEJS @jeb_snahp/bootstrap4.min.js -->
<!-- INCLUDECSS @jeb_snahp/bootstrap4-ns.min.css -->
<!-- INCLUDEJS @jeb_snahp/dereferrer.js -->
<!-- INCLUDEJS @jeb_snahp/utility.js -->
<!-- INCLUDECSS @jeb_snahp/base.css -->
<!-- INCLUDECSS @jeb_snahp/request_tags.css -->
<script>
  {% include '@jeb_snahp/cookie.js' %}
</script>
{S_HIDDEN_FIELDS}
{S_REQ_HIDDEN_FIELDS}
{% if STYLE_NAME %}
<!-- INCLUDECSS @jeb_snahp/customcss/{STYLE_NAME}.css -->
<!-- INCLUDEJS @jeb_snahp/customcss/{STYLE_NAME}.js -->
{% endif %}
{% if B_SHOW_IMDB %}
<!-- INCLUDEJS @jeb_snahp/form_injector/imdb.js -->
<!-- INCLUDECSS @jeb_snahp/form_injector/imdb.css -->
{% endif %}
{% if B_SHOW_ANILIST %}
<!-- INCLUDEJS @jeb_snahp/form_injector/anilist.js -->
<!-- INCLUDECSS @jeb_snahp/form_injector/anilist.css -->
{% endif %}
{% if B_SHOW_BOOKS %}
<!-- INCLUDEJS @jeb_snahp/form_injector/googlebooks.js -->
<!-- INCLUDECSS @jeb_snahp/form_injector/googlebooks.css -->
{% endif %}
{% if B_SHOW_GAMES %}
<!-- INCLUDEJS @jeb_snahp/form_injector/gamespot.js -->
<!-- INCLUDECSS @jeb_snahp/form_injector/gamespot.css -->
{% endif %}
{% if B_SHOW_ANILIST || B_SHOW_BOOKS || B_SHOW_GAMES %}
<!-- INCLUDECSS @jeb_snahp/form_injector/pg-modal.css -->
{% endif %}

