{% if B_SHOW_IMDB %}
<dt>
  <label for="imdb_term">IMDb:</label>
</dt>
<dd>
  <input value="" placeholder="" type="text" name="imdb_input" id="imdb_input" class="inputbox autowidth">
  <button type="button" data-ajax="snahp.imdbCallback">Search</button>
</dd>
{% endif %}
{% if B_SHOW_ANILIST %}
<dt>
  <label for="anilist_term">Anime:</label>
</dt>
<dd>
  <input  value="" placeholder="" type="text" name="anilist_input" id="anilist_input" class="inputbox autowidth">
  <button type="button" data-ajax="snahp.anilistCallback">Search</button>
</dd>
{% endif %}
{% if B_SHOW_BOOKS %}
<dt>
  <label for="googlebooks_term">Books:</label>
</dt>
<dd>
  <input value="" type="text" placeholder="" name="googlebooks_input" id="googlebooks_input" class="inputbox autowidth">
  <input value="" type="text" placeholder="Author" name="googlebooks_input_author" id="googlebooks_input_author" class="inputbox autowidth" style="max-width: 80px;">
  <button type="button" data-ajax="snahp.googlebooksCallback">Search</button>
</dd>
{% endif %}
{% if B_SHOW_GAMES %}
<dt>
  <label for="gamespot_term">Games:</label>
</dt>
<dd>
  <input value="" type="text" placeholder="" name="gamespot_input" id="gamespot_input" class="inputbox autowidth">
  <button type="button" data-ajax="snahp.gamespotCallback">Search</button>
</dd>
{% endif %}
{% include '@jeb_snahp/post_tpl/base.html' %}
