{% if B_SHOW_THANKS_AVATAR and postrow.THANKS_GIVEN %}
<dd class="profile-posts">
  <strong>Has thanked: {postrow.THANKS_GIVEN} {% if postrow.THANKS_GIVEN==1 %}time{% else %}times{% endif %}</strong>
</dd>
{% endif %}
{% if B_SHOW_THANKS_AVATAR and postrow.THANKS_RECEIVED %}
<dd class="profile-posts">
  <strong>Been thanked: {postrow.THANKS_RECEIVED} {% if postrow.THANKS_RECEIVED==1 %}time{% else %}times{% endif %}</strong>
</dd>
{% endif %}
{% if B_SHOW_REQUESTS_SOLVED and postrow.REQUESTS_SOLVED %}
<dd class="profile-posts">
  <strong>Has solved: 
    {% if postrow.REQUESTS_SOLVED==69 %}
      <span style="color: #A00;">Censored</span>
    {% else %}
      {postrow.REQUESTS_SOLVED} 
      {% if postrow.REQUESTS_SOLVED==1 %}
        request
      {% else %}
        requests
      {% endif %}
    {% endif %}
  </strong>
</dd>
{% endif %}
