{% if B_SHOW_STAT %}
<!-- INCLUDEJS @jeb_snahp/bootstrap4.min.js -->
<!-- INCLUDECSS @jeb_snahp/bootstrap4-ns.min.css -->
<!-- <div class="twbs" style="display:inline-block; margin-left: 20px;"> -->
<style>
  .twbs {
    font-weight: 900;
  }
  .twbs .black {
    color: black;
  }
  .progress {
    margin-top: 4px;
    margin-bottom: 10px;
  }
  .twbs .bg-success {
    background-color: #128b09 !important;
  }
  .twbs .bg-danger {
    background-color: #b22117 !important;
  }
  .twbs .bg-warning {
    background-color: #f4bf42 !important;
  }
  .twbs .bg-secondary {
    background-color: #6c757d !important;
  }
  .twbs .progress {
    max-width: 800px;
    height: 24px;
    font-size: 14px;
  }
</style>
<div class="twbs" align="center">
  <div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" style="width: {PERC_OPEN}%" aria-valuenow="{PERC_OPEN}" aria-valuemin="0" aria-valuemax="100">{N_OPEN}</div>
    <div class="progress-bar bg-warning black" role="progressbar" style="width: {PERC_DIB}%" aria-valuenow="{PERC_DIB}" aria-valuemin="0" aria-valuemax="100">{N_DIB}</div>
    <div class="progress-bar bg-primary" role="progressbar" style="width: {PERC_FULFILL}%" aria-valuenow="{PERC_FULFILL}" aria-valuemin="0" aria-valuemax="100">{N_FULFILL}</div>
    <div class="progress-bar bg-success" role="progressbar" style="width: {PERC_SOLVE}%" aria-valuenow="{PERC_SOLVE}" aria-valuemin="0" aria-valuemax="100">{N_SOLVE}</div>
    <div class="progress-bar bg-secondary" role="progressbar" style="width: {PERC_TERMINATE}%" aria-valuenow="{PERC_TERMINATE}" aria-valuemin="0" aria-valuemax="100">{N_TERMINATE}</div>
  </div>
</div>
{% endif %}
