<script>
  {% include '@jeb_snahp/shop/component/transactions/component/process/base.js' %}
</script>
<style>
  {% include '@jeb_snahp/shop/component/transactions/component/process/base.css' %}
</style>

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">Buy</th>
      <th scope="col">Description</th>
      <th scope="col">Inventory</th>
      <th scope="col">Value</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <!-- BEGIN PRODUCT_CLASSES -->
    <tr style="font-size: 1.1em;">
      <td class="pt-2">{PRODUCT_CLASSES.display_name}
        {% if PRODUCT_CLASSES.help_url %}
        <div class="inline_block help">
          <a href="{PRODUCT_CLASSES.help_url}" target="_blank">
            <i class="fa fa-question help"></i>
          </a>
          {% endif %}
        </div>
      </td>
      <td class="pt-2">{PRODUCT_CLASSES.description}</td>
      <td class="pt-2">{PRODUCT_CLASSES.n_bought} / {PRODUCT_CLASSES.max_per_user}</td>
      <td class="pt-2">{PRODUCT_CLASSES.value} {PRODUCT_CLASSES.unit}</td>
      <td class="pt-2">${PRODUCT_CLASSES.price_formatted}</td>
      {% if PRODUCT_CLASSES.b_buy %}
      <td class="pt-1">
        <input id="shop_buy_quantity_{PRODUCT_CLASSES.id}" 
               style="font-size: 1.1em; height:20px; width:60px; text-align:right;" 
               class="form-control form-control-sm w-10" type="number" min="0" max="{PRODUCT_CLASSES.max_purchasable}" value="0"/>
      </td>
      <td class="pt-1 text-center">
        <button 
          data-id="{PRODUCT_CLASSES.id}"
          data-json='{PRODUCT_CLASSES.json}'
          onclick="ShopTransaction.initiate_buy(event);"
          style="font-size:10px; padding:1px 5px 1px 5px;"
          type="button" class="btn btn-success">Buy</button>
      </td>
      {% else %}
      <td class="pt-1"></td>
      <td class="pt-1"></td>
      {% endif %} 
    </tr>
    <!-- END PRODUCT_CLASSES -->
  </tbody>
</table>








<div id="modal_shop_container">
  {% include '@jeb_snahp/shop/component/transactions/component/process/confirmation.html' %}
</div>
