<!-- INCLUDE mcp_header.html -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- INCLUDECSS @jeb_snahp/mcp/admin_table.css -->
<!-- INCLUDEJS @jeb_snahp/mcp/request_user_management.js -->
<!-- INCLUDECSS @jeb_snahp/mcp/request_user_management.css -->

<form id="acp" method="post" action="{U_ACTION}">
<h2>Manage User Requests Solved Database</h2>
<div class="panel">
	<div class="inner">
	<h3>Statistics</h3>

	<fieldset>
	<dl>
    <dt><label for="usernames">Generate Statistics:</label><br>
    </dt>
    <dd>
      <input onClick="showStatistics();" type="Button" value="Generate" name="GenerateStat" class="button1">
      <script>
        function showStatistics()
        {
          var url = '/app.php/snahp/acp_reqs/generate_statistics/';
          $.ajax(url).done((resp)=>{
            $content = $('#acp_request_statistics_content');
            $content.empty();
            for (var varname in resp)
            {
              $entry = $('<tr><td style="text-align:left">' + varname + '</td><td style="text-align:left">' + resp[varname] + '</td></tr>');
              $content.append($entry);
            }
          });
        }
      </script>
    </dd>
	</dl>
	<hr />
  <div id="user_request_details">
    <!-- <table id="mcp_req_user_details" class="mcp_table"> -->
    <table class="table.type3 responsive">
      <thead>
        <tr>
          <th>Variable</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody id="acp_request_statistics_content">
      </tbody>
    </table>
  </div>
	<hr />
	</fieldset>

	<fieldset>
	<dl>
    <dt><label for="usernames">Resynchronize Requests Solved:</label><br>
      <span>WARNING! This may take a long time!<br>
        Try clicking Generate button above to get an approximation for resynch.<br>
        If Total_Requests is larger than 100,000, consider asking the developer for assistance.<br><br>
        This will recount how many times a user has solved requests for every user who has fullfilled any requests.
      </span>
    </dt>
    <dd>
        <input onClick="rurs();" type="Button" value="Resynch" name="Resynch" class="button1">
    </dd>
  </dl>
  </fieldset>
  <script>
    var html = `
<div id="dialog" title="DB Transactions">
  <div>
    <span id="sqlmsg"></span>
  </div>
  <br>
  <div id="progressdiv">
    <progress id='progressbar' value="0" max='100' style="width:100%"></progress>  
  </div>
  <br>
  <div align="center">
    <span id="progmsg" style="font-size:1.3em;"></span>
  </div>
  <div>
    <span id="errmsg" style="font-size:1.3em;"></span>
  </div>
</div>
    `;
    var es;
    function rurs() {
      if ($('#dialog').length < 1)
      { $dialog = $(html).dialog(); }
      else
      { $dialog.dialog(); }
      es = new EventSource('/app.php/snahp/acp_reqs/handle/do_rurs/');
      es.addEventListener('message', function(e) {
        var result = JSON.parse( e.data );
        var i = result.i;
        var n = result.n;
        var status = result.status;
        var progress = Math.round(i/n*100);
        var message = result.message;
        var sqlmsg = result.sqlmsg;
        var errmsg = result.error_message;
        $('#progmsg').text(message);
        $('#sqlmsg').text(sqlmsg);
        $('#errmsg').text(errmsg);
        if(status == 'COMPLETE') {
          es.close();
          $('#progressbar').val(100);
        }
        else if (status == 'ERROR')
        {
          es.close();
        }
        else
        {
          $('#progressbar').val(progress);
        }
      });
      es.addEventListener('error', function(e) {
        es.close();
      });
    }
    function stopTask() {
      es.close();
      addLog('Interrupted');
    }
  </script>
	</div>
</div>
</form>
<!-- INCLUDE mcp_footer.html -->
