<script>
  {% include '@jeb_snahp/logger/enabler/base.js' %}
</script>
<div class="d-flex">
  <div class = "mx-auto">
    <input type="checkbox" value="0" name="cb_log_posting" id="cb_log_posting"/>
    <label for="cb_log_posting">Log Posting</label>
    <input type="checkbox" value="0" name="cb_log_viewtopic" id="cb_log_viewtopic"/>
    <label for="cb_log_viewtopic">Log Viewtopic</label>
    <input type="checkbox" value="0" name="cb_log_user_spam" id="cb_log_user_spam"/>
    <label for="cb_log_user_spam">Log User Spam</label>
    <span>Interval: <b>{USER_SPAM_INTERVAL}</b></span>
    <span>Buffer Length: <b>{USER_SPAM_BUFFER_LENGTH}</b></span>
  </div>
</div>
