.btn-unregister,
.btn-register,
.btn-broadcast,
.btn-digg,
.btn-undigg 
{
    /* font-family: 'Lobster', cursive !important; */
    font-family: 'Anton', sans-serif !important;
    font-size: 18px !important;
    margin: 0px !important;
    padding: 0px .3rem 0px .3rem !important;
    padding-bottom: .05rem !important;
}

.badge-unregister,
.badge-register,
.badge-broadcast,
.badge-digg,
.badge-undigg
{
    font-family: 'Arial', sans-serif !important;
    font-size: .7rem !important;
    margin-top: .42rem !important;
}
