<!-- Included from viewforum_body_topic_row_before.html -->
<!-- The base.js is being run from viewforum_buttons_bottom_before.html to reduce lag -->
<style>
  {% include '@jeb_snahp/reqs_forum/component/filter_reqs/base.css' %}
</style>
<div class="reqs_tags_wrapper">
  <div id="reqs_tags_selector">
    <span onClick="Filter_reqs.select_tags('all')" class="btn all selector"></span>
    <span onClick="Filter_reqs.select_tags('open')" class="btn open selector"></span>
    <span onClick="Filter_reqs.select_tags('dib')" class="btn dib selector"></span>
    <span onClick="Filter_reqs.select_tags('fulfill')" class="btn fulfill selector"></span>
    <span onClick="Filter_reqs.select_tags('solve')" class="btn solve selector"></span>
    <span onClick="Filter_reqs.select_tags('terminate')" class="btn terminate selector"></span>
  </div>
</div>
