#anilist_input {
    color: black;
}

#close_btn:focus{
    outline:none!important;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    text-align: right;
    font-weight: bold;
    color: #FD8;
    font-size: 125%;
    text-shadow:
    -1px  -1px  0  #000,
    1px   -1px  0  #000,
    -1px  1px   0  #000,
    1px   1px   0  #000;
}

.bottom-right a{
    color: #4bf;
}

.img_container {
    position: relative;
    text-align: center;
    color: white;

}

.img_li {
    display: inline-block;
    padding: 3px;
}

#close_btn {
    color: #e3a21a;
    text-shadow:
    -1px  -1px  0  #000,
    1px   -1px  0  #000,
    -1px  1px   0  #000,
    1px   1px   0  #000;
}
.twbs.modal,
.twbs.modal-backdrop
{
    background-image: url("https://i.imgur.com/xkatFe1.jpg");
    background-color: black;
}



body {
    border: black;
}
.twbs#anilist_poster_list,
.twbs.modal-body,
.twbs.modal-header,
.twbs.modal-content
{
    background-color: #18110B;
}

.twbs.modal-title {
    color: #e3a21a;
}

.twbs.form-check-label {
    color: #e3a21a;
    font-size: 1.5em;
    font-weight: bold;
}

.twbs.modal-dialog.modal-xl {
    width: 90%;
    max-width: 880px;
}
