.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.position-fixed {
  position: fixed;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-none {
  display: none;
}

.m-auto {
  margin: auto;
}
.m-0 {
  margin: 0px;
}
.m-1 {
  margin: 1px;
}
.m-2 {
  margin: 2px;
}
.m-3 {
  margin: 3px;
}
.m-4 {
  margin: 4px;
}
.m-5 {
  margin: 5px;
}
.m-6 {
  margin: 6px;
}
.m-7 {
  margin: 7px;
}
.m-8 {
  margin: 8px;
}
.m-9 {
  margin: 9px;
}
.m-10 {
  margin: 10px;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.my-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}
.my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.my-3 {
  margin-top: 3px;
  margin-bottom: 3px;
}
.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.my-6 {
  margin-top: 6px;
  margin-bottom: 6px;
}
.my-7 {
  margin-top: 7px;
  margin-bottom: 7px;
}
.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.my-9 {
  margin-top: 9px;
  margin-bottom: 9px;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.mx-1 {
  margin-left: 1px;
  margin-right: 1px;
}
.mx-2 {
  margin-left: 2px;
  margin-right: 2px;
}
.mx-3 {
  margin-left: 3px;
  margin-right: 3px;
}
.mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}
.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.mx-6 {
  margin-left: 6px;
  margin-right: 6px;
}
.mx-7 {
  margin-left: 7px;
  margin-right: 7px;
}
.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}
.mx-9 {
  margin-left: 9px;
  margin-right: 9px;
}
.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}
.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.ml-0 {
  margin-left: 0px;
}
.ml-1 {
  margin-left: 1px;
}
.ml-2 {
  margin-left: 2px;
}
.ml-3 {
  margin-left: 3px;
}
.ml-4 {
  margin-left: 4px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-6 {
  margin-left: 6px;
}
.ml-7 {
  margin-left: 7px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-9 {
  margin-left: 9px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-0 {
  margin-right: 0px;
}
.mr-1 {
  margin-right: 1px;
}
.mr-2 {
  margin-right: 2px;
}
.mr-3 {
  margin-right: 3px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-6 {
  margin-right: 6px;
}
.mr-7 {
  margin-right: 7px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-9 {
  margin-right: 9px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mt-0 {
  margin-top: 0px;
}
.mt-1 {
  margin-top: 1px;
}
.mt-2 {
  margin-top: 2px;
}
.mt-3 {
  margin-top: 3px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-6 {
  margin-top: 6px;
}
.mt-7 {
  margin-top: 7px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-9 {
  margin-top: 9px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-1 {
  margin-bottom: 1px;
}
.mb-2 {
  margin-bottom: 2px;
}
.mb-3 {
  margin-bottom: 3px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-6 {
  margin-bottom: 6px;
}
.mb-7 {
  margin-bottom: 7px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-9 {
  margin-bottom: 9px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}

.p-auto {
  padding: auto;
}
.p-0 {
  padding: 0px;
}
.p-1 {
  padding: 1px;
}
.p-2 {
  padding: 2px;
}
.p-3 {
  padding: 3px;
}
.p-4 {
  padding: 4px;
}
.p-5 {
  padding: 5px;
}
.p-6 {
  padding: 6px;
}
.p-7 {
  padding: 7px;
}
.p-8 {
  padding: 8px;
}
.p-9 {
  padding: 9px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}
.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.py-1 {
  padding-top: 1px;
  padding-bottom: 1px;
}
.py-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}
.py-3 {
  padding-top: 3px;
  padding-bottom: 3px;
}
.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}
.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-9 {
  padding-top: 9px;
  padding-bottom: 9px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.px-auto {
  padding-left: auto;
  padding-right: auto;
}
.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.px-1 {
  padding-left: 1px;
  padding-right: 1px;
}
.px-2 {
  padding-left: 2px;
  padding-right: 2px;
}
.px-3 {
  padding-left: 3px;
  padding-right: 3px;
}
.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}
.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.px-6 {
  padding-left: 6px;
  padding-right: 6px;
}
.px-7 {
  padding-left: 7px;
  padding-right: 7px;
}
.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.px-9 {
  padding-left: 9px;
  padding-right: 9px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.pl-0 {
  padding-left: 0px;
}
.pl-1 {
  padding-left: 1px;
}
.pl-2 {
  padding-left: 2px;
}
.pl-3 {
  padding-left: 3px;
}
.pl-4 {
  padding-left: 4px;
}
.pl-5 {
  padding-left: 5px;
}
.pl-6 {
  padding-left: 6px;
}
.pl-7 {
  padding-left: 7px;
}
.pl-8 {
  padding-left: 8px;
}
.pl-9 {
  padding-left: 9px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.pr-0 {
  padding-right: 0px;
}
.pr-1 {
  padding-right: 1px;
}
.pr-2 {
  padding-right: 2px;
}
.pr-3 {
  padding-right: 3px;
}
.pr-4 {
  padding-right: 4px;
}
.pr-5 {
  padding-right: 5px;
}
.pr-6 {
  padding-right: 6px;
}
.pr-7 {
  padding-right: 7px;
}
.pr-8 {
  padding-right: 8px;
}
.pr-9 {
  padding-right: 9px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-15 {
  padding-right: 15px;
}
.pr-20 {
  padding-right: 20px;
}
.pt-0 {
  padding-top: 0px;
}
.pt-1 {
  padding-top: 1px;
}
.pt-2 {
  padding-top: 2px;
}
.pt-3 {
  padding-top: 3px;
}
.pt-4 {
  padding-top: 4px;
}
.pt-5 {
  padding-top: 5px;
}
.pt-6 {
  padding-top: 6px;
}
.pt-7 {
  padding-top: 7px;
}
.pt-8 {
  padding-top: 8px;
}
.pt-9 {
  padding-top: 9px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-0 {
  padding-bottom: 0px;
}
.pb-1 {
  padding-bottom: 1px;
}
.pb-2 {
  padding-bottom: 2px;
}
.pb-3 {
  padding-bottom: 3px;
}
.pb-4 {
  padding-bottom: 4px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-6 {
  padding-bottom: 6px;
}
.pb-7 {
  padding-bottom: 7px;
}
.pb-8 {
  padding-bottom: 8px;
}
.pb-9 {
  padding-bottom: 9px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}

.max-height-0 {
  max-height: 0px;
}
.max-height-5 {
  max-height: 5px;
}
.max-height-10 {
  max-height: 10px;
}
.max-height-15 {
  max-height: 15px;
}
.max-height-20 {
  max-height: 20px;
}
.max-height-25 {
  max-height: 25px;
}
.max-height-30 {
  max-height: 30px;
}
.max-height-35 {
  max-height: 35px;
}
.max-height-40 {
  max-height: 40px;
}
.max-height-45 {
  max-height: 45px;
}
.max-height-50 {
  max-height: 50px;
}
.max-height-55 {
  max-height: 55px;
}
.max-height-60 {
  max-height: 60px;
}
.max-height-65 {
  max-height: 65px;
}
.max-height-70 {
  max-height: 70px;
}
.max-height-75 {
  max-height: 75px;
}
.max-height-80 {
  max-height: 80px;
}
.max-height-85 {
  max-height: 85px;
}
.max-height-90 {
  max-height: 90px;
}
.max-height-95 {
  max-height: 95px;
}
.max-height-100 {
  max-height: 100px;
}
.max-height-105 {
  max-height: 105px;
}
.max-height-110 {
  max-height: 110px;
}
.max-height-115 {
  max-height: 115px;
}
.max-height-120 {
  max-height: 120px;
}
.max-height-125 {
  max-height: 125px;
}
.max-height-130 {
  max-height: 130px;
}
.max-height-135 {
  max-height: 135px;
}
.max-height-140 {
  max-height: 140px;
}
.max-height-145 {
  max-height: 145px;
}
.max-height-150 {
  max-height: 150px;
}
.max-height-155 {
  max-height: 155px;
}
.max-height-160 {
  max-height: 160px;
}
.max-height-165 {
  max-height: 165px;
}
.max-height-170 {
  max-height: 170px;
}
.max-height-175 {
  max-height: 175px;
}
.max-height-180 {
  max-height: 180px;
}
.max-height-185 {
  max-height: 185px;
}
.max-height-190 {
  max-height: 190px;
}
.max-height-195 {
  max-height: 195px;
}
.max-height-200 {
  max-height: 200px;
}
.max-height-250 {
  max-height: 250px;
}
.max-height-300 {
  max-height: 300px;
}
.max-height-350 {
  max-height: 350px;
}
.max-height-400 {
  max-height: 400px;
}
.max-height-450 {
  max-height: 450px;
}
.max-height-500 {
  max-height: 500px;
}

.height-0 {
  height: 0px;
}
.height-5 {
  height: 5px;
}
.height-10 {
  height: 10px;
}
.height-15 {
  height: 15px;
}
.height-20 {
  height: 20px;
}
.height-25 {
  height: 25px;
}
.height-30 {
  height: 30px;
}
.height-31 {
  height: 31px;
}
.height-32 {
  height: 32px;
}
.height-33 {
  height: 33px;
}
.height-34 {
  height: 34px;
}
.height-35 {
  height: 35px;
}
.height-36 {
  height: 36px;
}
.height-37 {
  height: 37px;
}
.height-38 {
  height: 38px;
}
.height-39 {
  height: 39px;
}
.height-40 {
  height: 40px;
}
.height-45 {
  height: 45px;
}
.height-50 {
  height: 50px;
}
.height-55 {
  height: 55px;
}
.height-60 {
  height: 60px;
}
.height-65 {
  height: 65px;
}
.height-70 {
  height: 70px;
}
.height-75 {
  height: 75px;
}
.height-80 {
  height: 80px;
}
.height-85 {
  height: 85px;
}
.height-90 {
  height: 90px;
}
.height-95 {
  height: 95px;
}
.height-100 {
  height: 100px;
}
.height-105 {
  height: 105px;
}
.height-110 {
  height: 110px;
}
.height-115 {
  height: 115px;
}
.height-120 {
  height: 120px;
}
.height-125 {
  height: 125px;
}
.height-130 {
  height: 130px;
}
.height-135 {
  height: 135px;
}
.height-140 {
  height: 140px;
}
.height-145 {
  height: 145px;
}
.height-150 {
  height: 150px;
}
.height-155 {
  height: 155px;
}
.height-160 {
  height: 160px;
}
.height-165 {
  height: 165px;
}
.height-170 {
  height: 170px;
}
.height-175 {
  height: 175px;
}
.height-180 {
  height: 180px;
}
.height-185 {
  height: 185px;
}
.height-190 {
  height: 190px;
}
.height-195 {
  height: 195px;
}
.height-200 {
  height: 200px;
}

.max-width-0 {
  max-width: 0px;
}
.max-width-5 {
  max-width: 5px;
}
.max-width-10 {
  max-width: 10px;
}
.max-width-15 {
  max-width: 15px;
}
.max-width-20 {
  max-width: 20px;
}
.max-width-25 {
  max-width: 25px;
}
.max-width-30 {
  max-width: 30px;
}
.max-width-35 {
  max-width: 35px;
}
.max-width-40 {
  max-width: 40px;
}
.max-width-45 {
  max-width: 45px;
}
.max-width-50 {
  max-width: 50px;
}
.max-width-55 {
  max-width: 55px;
}
.max-width-60 {
  max-width: 60px;
}
.max-width-65 {
  max-width: 65px;
}
.max-width-70 {
  max-width: 70px;
}
.max-width-75 {
  max-width: 75px;
}
.max-width-80 {
  max-width: 80px;
}
.max-width-85 {
  max-width: 85px;
}
.max-width-90 {
  max-width: 90px;
}
.max-width-95 {
  max-width: 95px;
}
.max-width-100 {
  max-width: 100px;
}
.max-width-105 {
  max-width: 105px;
}
.max-width-110 {
  max-width: 110px;
}
.max-width-115 {
  max-width: 115px;
}
.max-width-120 {
  max-width: 120px;
}
.max-width-125 {
  max-width: 125px;
}
.max-width-130 {
  max-width: 130px;
}
.max-width-135 {
  max-width: 135px;
}
.max-width-140 {
  max-width: 140px;
}
.max-width-145 {
  max-width: 145px;
}
.max-width-150 {
  max-width: 150px;
}
.max-width-155 {
  max-width: 155px;
}
.max-width-160 {
  max-width: 160px;
}
.max-width-165 {
  max-width: 165px;
}
.max-width-170 {
  max-width: 170px;
}
.max-width-175 {
  max-width: 175px;
}
.max-width-180 {
  max-width: 180px;
}
.max-width-185 {
  max-width: 185px;
}
.max-width-190 {
  max-width: 190px;
}
.max-width-195 {
  max-width: 195px;
}
.max-width-200 {
  max-width: 200px;
}
.max-width-250 {
  max-width: 250px;
}
.max-width-300 {
  max-width: 300px;
}
.max-width-350 {
  max-width: 350px;
}
.max-width-400 {
  max-width: 400px;
}
.max-width-450 {
  max-width: 450px;
}
.max-width-500 {
  max-width: 500px;
}

.width-0 {
  width: 0px;
}
.width-5 {
  width: 5px;
}
.width-10 {
  width: 10px;
}
.width-15 {
  width: 15px;
}
.width-20 {
  width: 20px;
}
.width-25 {
  width: 25px;
}
.width-30 {
  width: 30px;
}
.width-35 {
  width: 35px;
}
.width-40 {
  width: 40px;
}
.width-45 {
  width: 45px;
}
.width-50 {
  width: 50px;
}
.width-55 {
  width: 55px;
}
.width-60 {
  width: 60px;
}
.width-65 {
  width: 65px;
}
.width-70 {
  width: 70px;
}
.width-75 {
  width: 75px;
}
.width-80 {
  width: 80px;
}
.width-85 {
  width: 85px;
}
.width-90 {
  width: 90px;
}
.width-95 {
  width: 95px;
}
.width-100 {
  width: 100px;
}
.width-105 {
  width: 105px;
}
.width-110 {
  width: 110px;
}
.width-115 {
  width: 115px;
}
.width-120 {
  width: 120px;
}
.width-125 {
  width: 125px;
}
.width-130 {
  width: 130px;
}
.width-135 {
  width: 135px;
}
.width-140 {
  width: 140px;
}
.width-145 {
  width: 145px;
}
.width-150 {
  width: 150px;
}
.width-155 {
  width: 155px;
}
.width-160 {
  width: 160px;
}
.width-165 {
  width: 165px;
}
.width-170 {
  width: 170px;
}
.width-175 {
  width: 175px;
}
.width-180 {
  width: 180px;
}
.width-185 {
  width: 185px;
}
.width-190 {
  width: 190px;
}
.width-195 {
  width: 195px;
}
.width-200 {
  width: 200px;
}
.width-250 {
  width: 200px;
}
.width-300 {
  width: 200px;
}
.width-350 {
  width: 200px;
}
.width-400 {
  width: 200px;
}
.width-450 {
  width: 200px;
}
.width-500 {
  width: 200px;
}
.width-550 {
  width: 200px;
}
.width-600 {
  width: 200px;
}

.top-0 {
  top: 0px;
}
.top-5 {
  top: 5px;
}
.top-10 {
  top: 10px;
}
.top-15 {
  top: 15px;
}
.top-20 {
  top: 20px;
}
.top-25 {
  top: 25px;
}
.top-30 {
  top: 30px;
}
.top-35 {
  top: 35px;
}
.top-40 {
  top: 40px;
}
.top-45 {
  top: 45px;
}
.top-50 {
  top: 50px;
}
.top-55 {
  top: 55px;
}
.top-60 {
  top: 60px;
}
.top-65 {
  top: 65px;
}
.top-70 {
  top: 70px;
}
.top-75 {
  top: 75px;
}
.top-80 {
  top: 80px;
}
.top-85 {
  top: 85px;
}
.top-90 {
  top: 90px;
}
.top-95 {
  top: 95px;
}
.top-100 {
  top: 100px;
}
.top-n5 {
  top: -5px;
}
.top-n10 {
  top: -10px;
}
.top-n15 {
  top: -15px;
}
.top-n20 {
  top: -20px;
}
.top-n25 {
  top: -25px;
}
.top-n30 {
  top: -30px;
}
.top-n35 {
  top: -35px;
}
.top-n40 {
  top: -40px;
}
.top-n45 {
  top: -45px;
}
.top-n50 {
  top: -50px;
}
.top-n55 {
  top: -55px;
}
.top-n60 {
  top: -60px;
}
.top-n65 {
  top: -65px;
}
.top-n70 {
  top: -70px;
}
.top-n75 {
  top: -75px;
}
.top-n80 {
  top: -80px;
}
.top-n85 {
  top: -85px;
}
.top-n90 {
  top: -90px;
}
.top-n95 {
  top: -95px;
}
.top-n100 {
  top: -100px;
}

.bottom-0 {
  bottom: 0px;
}
.bottom-5 {
  bottom: 5px;
}
.bottom-10 {
  bottom: 10px;
}
.bottom-15 {
  bottom: 15px;
}
.bottom-20 {
  bottom: 20px;
}
.bottom-25 {
  bottom: 25px;
}
.bottom-30 {
  bottom: 30px;
}
.bottom-35 {
  bottom: 35px;
}
.bottom-40 {
  bottom: 40px;
}
.bottom-45 {
  bottom: 45px;
}
.bottom-50 {
  bottom: 50px;
}
.bottom-55 {
  bottom: 55px;
}
.bottom-60 {
  bottom: 60px;
}
.bottom-65 {
  bottom: 65px;
}
.bottom-70 {
  bottom: 70px;
}
.bottom-75 {
  bottom: 75px;
}
.bottom-80 {
  bottom: 80px;
}
.bottom-85 {
  bottom: 85px;
}
.bottom-90 {
  bottom: 90px;
}
.bottom-95 {
  bottom: 95px;
}
.bottom-100 {
  bottom: 100px;
}
.bottom-n5 {
  bottom: -5px;
}
.bottom-n10 {
  bottom: -10px;
}
.bottom-n15 {
  bottom: -15px;
}
.bottom-n20 {
  bottom: -20px;
}
.bottom-n25 {
  bottom: -25px;
}
.bottom-n30 {
  bottom: -30px;
}
.bottom-n35 {
  bottom: -35px;
}
.bottom-n40 {
  bottom: -40px;
}
.bottom-n45 {
  bottom: -45px;
}
.bottom-n50 {
  bottom: -50px;
}
.bottom-n55 {
  bottom: -55px;
}
.bottom-n60 {
  bottom: -60px;
}
.bottom-n65 {
  bottom: -65px;
}
.bottom-n70 {
  bottom: -70px;
}
.bottom-n75 {
  bottom: -75px;
}
.bottom-n80 {
  bottom: -80px;
}
.bottom-n85 {
  bottom: -85px;
}
.bottom-n90 {
  bottom: -90px;
}
.bottom-n95 {
  bottom: -95px;
}
.bottom-n100 {
  bottom: -100px;
}

.right-0 {
  right: 0px;
}
.right-5 {
  right: 5px;
}
.right-10 {
  right: 10px;
}
.right-15 {
  right: 15px;
}
.right-20 {
  right: 20px;
}
.right-25 {
  right: 25px;
}
.right-30 {
  right: 30px;
}
.right-35 {
  right: 35px;
}
.right-40 {
  right: 40px;
}
.right-45 {
  right: 45px;
}
.right-50 {
  right: 50px;
}
.right-55 {
  right: 55px;
}
.right-60 {
  right: 60px;
}
.right-65 {
  right: 65px;
}
.right-70 {
  right: 70px;
}
.right-75 {
  right: 75px;
}
.right-80 {
  right: 80px;
}
.right-85 {
  right: 85px;
}
.right-90 {
  right: 90px;
}
.right-95 {
  right: 95px;
}
.right-100 {
  right: 100px;
}
.right-n5 {
  right: -5px;
}
.right-n10 {
  right: -10px;
}
.right-n15 {
  right: -15px;
}
.right-n20 {
  right: -20px;
}
.right-n25 {
  right: -25px;
}
.right-n30 {
  right: -30px;
}
.right-n35 {
  right: -35px;
}
.right-n40 {
  right: -40px;
}
.right-n45 {
  right: -45px;
}
.right-n50 {
  right: -50px;
}
.right-n55 {
  right: -55px;
}
.right-n60 {
  right: -60px;
}
.right-n65 {
  right: -65px;
}
.right-n70 {
  right: -70px;
}
.right-n75 {
  right: -75px;
}
.right-n80 {
  right: -80px;
}
.right-n85 {
  right: -85px;
}
.right-n90 {
  right: -90px;
}
.right-n95 {
  right: -95px;
}
.right-n100 {
  right: -100px;
}

.left-0 {
  left: 0px;
}
.left-5 {
  left: 5px;
}
.left-10 {
  left: 10px;
}
.left-15 {
  left: 15px;
}
.left-20 {
  left: 20px;
}
.left-25 {
  left: 25px;
}
.left-30 {
  left: 30px;
}
.left-35 {
  left: 35px;
}
.left-40 {
  left: 40px;
}
.left-45 {
  left: 45px;
}
.left-50 {
  left: 50px;
}
.left-55 {
  left: 55px;
}
.left-60 {
  left: 60px;
}
.left-65 {
  left: 65px;
}
.left-70 {
  left: 70px;
}
.left-75 {
  left: 75px;
}
.left-80 {
  left: 80px;
}
.left-85 {
  left: 85px;
}
.left-90 {
  left: 90px;
}
.left-95 {
  left: 95px;
}
.left-100 {
  left: 100px;
}
.left-n5 {
  left: -5px;
}
.left-n10 {
  left: -10px;
}
.left-n15 {
  left: -15px;
}
.left-n20 {
  left: -20px;
}
.left-n25 {
  left: -25px;
}
.left-n30 {
  left: -30px;
}
.left-n35 {
  left: -35px;
}
.left-n40 {
  left: -40px;
}
.left-n45 {
  left: -45px;
}
.left-n50 {
  left: -50px;
}
.left-n55 {
  left: -55px;
}
.left-n60 {
  left: -60px;
}
.left-n65 {
  left: -65px;
}
.left-n70 {
  left: -70px;
}
.left-n75 {
  left: -75px;
}
.left-n80 {
  left: -80px;
}
.left-n85 {
  left: -85px;
}
.left-n90 {
  left: -90px;
}
.left-n95 {
  left: -95px;
}
.left-n100 {
  left: -100px;
}

.opacity-0 {
  opacity: 0;
}
.opacity-5 {
  opacity: 0.5;
}
.opacity-10 {
  opacity: 0.1;
}
.opacity-15 {
  opacity: 0.15;
}
.opacity-20 {
  opacity: 0.2;
}
.opacity-25 {
  opacity: 0.25;
}
.opacity-30 {
  opacity: 0.3;
}
.opacity-35 {
  opacity: 0.35;
}
.opacity-40 {
  opacity: 0.4;
}
.opacity-45 {
  opacity: 0.45;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-55 {
  opacity: 0.55;
}
.opacity-60 {
  opacity: 0.6;
}
.opacity-65 {
  opacity: 0.65;
}
.opacity-70 {
  opacity: 0.7;
}
.opacity-75 {
  opacity: 0.75;
}
.opacity-80 {
  opacity: 0.8;
}
.opacity-85 {
  opacity: 0.85;
}
.opacity-90 {
  opacity: 0.9;
}
.opacity-95 {
  opacity: 0.95;
}
.opacity-100 {
  opacity: 1;
}
