.pg_input {
    color: black;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    text-align: right;
    font-weight: bold;
    color: #FD8;
    font-size: 125%;
}

.bottom-right a{
    color: #4bf;
}

.img_container {
    position: relative;
    text-align: center;
    color: white;

}

.img_li {
    display: inline-block;
    padding: 4px;
}


/*** Table Styles for request form ***/
.request_table.container {
    text-align: center;
}
.request_table.wrapper {
    border: 5px solid #410;
    background: #410;
    border-radius: 12px;
    width: auto;
    display:inline-block;
}

.request_table .host-icon
{
    max-height:24px;
    margin: 0px 4px 0px 0px;
}

.request_table tr:nth-child(odd) td {
    color:#D5DDE5;;
    background:#1b1e24;
}

/* Bold entries */
.request_table td .bold {
    color: #991111;
    font-weight:900;
}
.request_table tr:nth-child(odd) td .bold{
    color:#ff3030;
}

.request_table th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    vertical-align:middle;
}

/* Rounded outer corners */
.request_table tr:first-child td:first-child {
    border-top-left-radius:9px;
}
.request_table tr:first-child td:last-child {
    border-top-right-radius:9px;
}
.request_table tr:last-child td:first-child {
    border-bottom-left-radius:9px;
}
.request_table tr:last-child td:last-child {
    border-bottom-right-radius:9px;
}

.request_table td {
    background:#eee;
    color: #1b1e24;
    padding:10px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    border-right: 1px solid #C1C3D1;
}

.request_table td:first-child {
    text-align: right;
}

.request_table td:last-child {
    border-right: 0px;
}

.request_table td.text-left {
    text-align: left;
}

.request_table td.text-center {
    text-align: center;
}

.request_table td.text-right {
    text-align: right;
}

/*** Table Styles for my open requests modal ***/
.open_request_dialog {
    font-size: 1.7em;
}
.open_request_dialog td {
    padding: 5px 28px 5px 5px;
    width:auto;
}
.open_request_dialog tr:nth-child(odd) td {
    background:#CCC;
}
.open_request_dialog .ui-widget-header {
    background:#F00;
}

.ui-dialog-title {
    font-size: 2em;
    text-align: center;
}


/* quick links */
.dropdown-contents {
    max-height: 600px !important;
}

/* Curlies */
div.autofill{
    max-height:300px;
    overflow-y: auto;
}
table.autofill{
    /* font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif; */
    font-size:1em;
    width: 98%;
    text-align:left;
    border-collapse:collapse;
}
table.autofill td.hidden{
    display: none;
}
table.autofill td{
    padding:4px 8px 4px;
}
input.autofill {
    padding-left: 10px;
    margin: 3px 0 5px;
    text-align: left;
}
input.search_master {
    width:98%;
    margin: 3px 0 5px;
    padding: 0px;
    text-align: center;
}

.twbs a
{
    color: inherit !important;
}

/* codebox resizing */

.pointer
{
    cursor: pointer;
}

.codebox code
{
    max-height: 100px;
}

div.codebox pre.expand
{
    resize: vertical;
    overflow-y: auto;
}

code.expand
{
    overflow: unset !important;
    max-height: unset !important;
}
