.pg_input {
    color: black;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    text-align: right;
    font-weight: bold;
    color: #FD8;
    font-size: 125%;
    text-shadow:
    -1px  -1px  0  #000,
    1px   -1px  0  #000,
    -1px  1px   0  #000,
    1px   1px   0  #000;
}

.bottom-right a{
    color: #4bf;
}

.img_container {
    position: relative;
    text-align: center;
    color: white;

}

.img_li {
    display: inline-block;
    padding: 4px;
}
