<!-- INCLUDE mcp_header.html -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
function add_username(e, id)
{
  $textarea = $('#ban');
  var strn = $textarea.val();
  strn += e.data.username + '\n';
  $textarea.val(strn);
}

$(document).ready(()=>{
  $banned_users = $("#banned_users");
  $usernames = $("#ban");
  $.get('/app.php/snahp/acp_reqs_get_banned_dibbers/', (resp)=>{
    var strn = '';
    var user_colour = '';
    var username_clean = '';
    for (var userdata of resp)
    {
      user_colour = userdata['user_colour'];
      username_clean = userdata['username_clean'];
      $elem = $('<button type="button" style="margin-right:6px;color:#' + user_colour + ';"><b>' + ' ' + username_clean + ' ' + '</b></button>').click({username:username_clean}, add_username);
      $banned_users.append($elem);
    }
  });
});
</script>


{% if B_ENABLE %}
<form id="mcp_ban" method="post" action="{U_ACTION}">
<div class="panel">
	<div class="inner">
	<h3>Reset Request Statitics for a User</h3>
  <fieldset>
    <dl>
      <dt><label for="reset_request_stat">Click on the link to the right:</label></dt>
      <dd><a href="/app.php/snahp/acp_reqs_manage_user/">Click to modify a user's request statistics</a></dd>
    </dl>
  </fieldset>
	<h3>Ban dibber</h3>
	<p>Disallow user from dibbing</p>
	<fieldset>
	<dl>
    <dt><label for="ban">Usernames:</label><br>
      - All lowercase<br>
      - Separated by Enter or comma<br>
    </dt>
		<dd><label for="ban"><textarea name="ban" id="ban" class="inputbox" cols="40" rows="3">{BAN_QUANTIFIER}</textarea></label></dd>
		<!-- IF S_USERNAME_BAN --><dd><strong><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></strong></dd><!-- ENDIF -->
	</dl>
	<!-- <dl> -->
	<!--   <dt><label for="banreason">Reason for ban (private):</label></dt> -->
	<!--   <dd><input name="banreason" id="banreason" type="text" class="inputbox" maxlength="255" /></dd> -->
	<!-- </dl> -->
	<!-- <dl> -->
	<!--   <dt><label for="bangivereason">Reason for ban (public):</label></dt> -->
	<!--   <dd><input name="bangivereason" id="bangivereason" type="text" class="inputbox" maxlength="255" /></dd> -->
	<!-- </dl> -->
	<hr />
	<dl>
		<dt><label for="banexclude0">Unban:</label><br /><span>Select Yes to unban the users instead.</span></dt>
		<dd>
			<label for="banexclude1"><input type="radio" name="banexclude" id="banexclude1" value="1" /> {L_YES}</label>
			<label for="banexclude0"><input type="radio" name="banexclude" id="banexclude0" value="0" checked="checked" /> {L_NO}</label>
		</dd>
	</dl>
	<!-- EVENT mcp_ban_fields_after -->
	</fieldset>

	</div>
</div>

<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}<input type="reset" value="reset" name="reset" class="button2" />&nbsp;
	<input type="submit" name="submit" value="submit" class="button1" />
	{S_FORM_TOKEN}
</fieldset>

</form>
{% else %}
<div class="panel">
	<div class="inner">
    <h3>Requests disabled</h3>
    <p>Request feature is currently disabled by the site admin.</p>
  </div>
</div>
{% endif %}
<div class="panel">
	<div class="inner">
    <fieldset>
      <dl>
        <dt><label>Banned Users</label><br /><span>List of users who are banned from dibbing requests.</span><br>
          <span>Click a username to add it to the textarea.</span></dt>
        <dd id="banned_users">
        </dd>
      </dl>
    </fieldset>
  </div>
</div>
<!-- INCLUDE mcp_footer.html -->
