<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}">
<h2>Settings</h2>
	<div class="panel">
    <h3>Avatar Settings</h3>
		<div class="inner">
			<fieldset>
				<dl>
					<dt><label for="snp_disable_avatar_thanks_link0">Disable thanks link under avatar:</label><br />
            <span>Choosing yes will disable displaying links to your thanks given and received.<br />For items under avatar.</span></dt>
					<dd><label for="snp_disable_avatar_thanks_link1"><input type="radio" name="snp_disable_avatar_thanks_link" id="snp_disable_avatar_thanks_link1" value="1"<!-- IF S_SNP_DISABLE_AVATAR_THANKS_LINK --> checked="checked"<!-- ENDIF --> /> Yes</label>
						<label for="snp_disable_avatar_thanks_link0"><input type="radio" name="snp_disable_avatar_thanks_link" id="snp_disable_avatar_thanks_link0" value="0"<!-- IF not S_SNP_DISABLE_AVATAR_THANKS_LINK --> checked="checked"<!-- ENDIF --> /> No</label></dd>
				</dl>
			</fieldset>
    </div>
  </div>
  <div class="panel">
    <h3>Notification Settings</h3>
    <div class="inner">

			<fieldset>
				<dl>
					<dt><label for="snp_enable_at_notify0">Receive notification via @@username</label><br />
            <span>Choosing yes will allow you to receive notification when another user refers you in their post with @@your_username.</span></dt>
					<dd><label for="snp_enable_at_notify1"><input type="radio" name="snp_enable_at_notify" id="snp_enable_at_notify1" value="1"<!-- IF S_SNP_ENABLE_AT_NOTIFY --> checked="checked"<!-- ENDIF --> /> Yes</label>
						<label for="snp_enable_at_notify0"><input type="radio" name="snp_enable_at_notify" id="snp_enable_at_notify0" value="0"<!-- IF not S_SNP_ENABLE_AT_NOTIFY --> checked="checked"<!-- ENDIF --> /> No</label></dd>
				</dl>
			</fieldset>
      <br>

			<fieldset>
				<dl>
					<dt><label>Delete All Thanks Notifications</label><br />
            <span>WARNING! This action cannot be reversed!<br>
              Click Delete only if you are sure you want to delete all previous thanks notifications.<br></span></dt>
        <dd>
          <input onClick="do_datn();" type="Button" name="delete_all_thanks" id="delete_all_thanks" class="button1" value="DELETE" />&nbsp;
          <script>
            function do_datn()
            {
              $.get('/app.php/snahp/thanks/handle/datn/')
                .done((resp)=>{
                  alert('All of your thanks notifications have been deleted.');
                });

            }
          </script>
        </dd>
				</dl>
			</fieldset>
		</div>
	</div>
	<fieldset>
		<dl>
			<dt>&nbsp;</dt>
			<dd><input type="submit" name="submit" id="submit" class="button1" value="{L_SUBMIT}" tabindex="2" />&nbsp;
				<input type="reset" value="{L_RESET}" name="reset" class="button2" /></dd>
		</dl>
		{S_HIDDEN_FIELDS}
		{S_FORM_TOKEN}
	</fieldset>
</form>

<!-- INCLUDE ucp_footer.html -->
