{% if BANNER_IMG_URL %}
  <style>
    @media(min-width:700px){
      .headerbar {
        background: url({BANNER_IMG_URL}) repeat-x;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        height: 240px;
      }
      #logo, #site-description {
        display: none;
      }
    }
  </style>
<script>
  const headerbars = document.getElementsByClassName('headerbar');
  const header = headerbars[0];
  if (header) {
    header.addEventListener("click", function() {
      window.location.href = '/';
    })
  }
</script>
{% endif %}
