<!-- INCLUDECSS @jeb_snahp/foe_blocker/component/userlist/base.css -->

{PAGINATION}

<table class="table table-sm table-striped table-borderless">
  <thead>
    <tr>
      <th scope="col">Blocker</th>
      <th scope="col">Blocked</th>
      <th scope="col">Begin</th>
      <th scope="col">End</th>
      <th scope="col">Reason</th>
      <th scope="col">T</th>
      <th scope="col">R</th>
      <th scope="col">PM</th>
    </tr>
  </thead>
  <tbody>
    {% for row in ROWSET %}
    <tr>
      <td><a href="/memberlist.php?mode=viewprofile&u={row.blocker_user_id}" target="_blank"><span style="color: #{row.blocker_user_colour};"><b>{row.blocker_username}</b></span></a></td>
      <td><a href="/memberlist.php?mode=viewprofile&u={row.blocked_user_id}" target="_blank"><span style="color: #{row.blocked_user_colour};"><b>{row.blocked_username}</b></span></a></td>
      <td>{row.local_time}</td>
      <td>{row.expires}</td>
      <td>{row.extra.block_reason}</td>
      <td>
        {% if row.extra.allow_viewtopic %}<i class="fa fa-check" aria-hidden="true" title="Allow"></i>{% else %}<i class="fa fa-close" aria-hidden="true" title="Block"></i>{% endif %}
      </td>
      <td>
        {% if row.extra.allow_reply %}<i class="fa fa-check" aria-hidden="true" title="Allow"></i>{% else %}<i class="fa fa-close" aria-hidden="true" title="Block"></i>{% endif %}
      </td>
      <td>
        {% if row.extra.allow_pm %}<i class="fa fa-check" aria-hidden="true" title="Allow"></i>{% else %}<i class="fa fa-close" aria-hidden="true" title="Block"></i>{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

