.giftbox-wrapper
{
  text-align: center;
}

@media (max-width: 780px)
{
  .giftbox-img
  {
    max-width: 400px;
  }

}

@media (max-width: 480px)
{
  .giftbox-img,
  .display_gift_status,
  .unwrap_btn
  {
    max-width: 320px;
    font-size: 8px !important;
  }

  .giftbox_countdown_hours
  {
    font-size: 12px !important;
    left: -36px !important;
    bottom: 83px !important;
  }

  .giftbox_countdown_minutes
  {
    font-size: 12px !important;
    left: 0px !important;
    bottom: 83px !important;
  }

  .giftbox_countdown_seconds
  {
    font-size: 12px !important;
    left: 36px !important;
    bottom: 83px !important;
  }

}
