<!-- INCLUDE overall_header.html -->
<style>
  {% include '@jeb_snahp/database_manager/base.css' %}
  {% if STYLE_NAME=='hexagon' or STYLE_NAME=='acieeed' %}
  {% include '@jeb_snahp/database_manager/dark.css' %}
  {% endif %}
</style>

<script>
  {% include '@jeb_snahp/database_manager/base.js' %}
</script>

<div class="twbs">

  <div>
    <form method="post">
      {S_FORM_TOKEN}
      <div class="input-group mb-2">
        <input type="text" class="form-control" name="database_manager_statement" id="database_manager_statement" value="{DATABASE_MANAGER_STATEMENT}" maxlength="5000">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" name="submit" value="submit" id="list_btn">Submit</button>
        </div>
      </div>

      <table class="table table-sm table-dark">
        <tbody>
          {% for row in ROWSET %}
          <tr>
            {% for entry in row %}
            <td style="width:1000px !important;">{{ entry|e }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </form>
  </div>

</div>
<!-- INCLUDE overall_footer.html -->
