<!-- INCLUDE overall_header.html -->
<div class="twbs">
  <div class="card">
    <div class="card-title pt-3 pb-0 text-center">
      <h3>
        {S_TITLE}
      </h3>
      <div style="height: 30px"></div>
      <h5>
        {S_MESSAGE}
      </h5>
    </div>
    <div style="height: 50px;"></div>
    <div class="card-body pt-1">
      <div class="d-flex justify-content-center">
        <a role="button" type="button" href="{U_CONFIRM}" class="button" style="text-decoration: none;">
          Confirm
        </a>
        <div style="width: 16px;"></div>
        <a role="button" type="button" href="{U_CANCEL}" class="button" style="text-decoration: none;">
          Cancel
        </a>
      </div>
    </div>
  </div>
</div>
<!-- INCLUDE overall_footer.html -->
