{% if postrow.POSTER_POSTS == 666 %}
  <img src="https://i.imgur.com/Wj1TyWj.jpg" style="width:100px; margin-left: 8px;">
{% elseif postrow.POSTER_POSTS == 314 %}
  <img src="https://i.imgur.com/UGpGOez.png" style="width:100px; margin-left: 8px;">
{% elseif postrow.POSTER_POSTS == 777 %}
  <img src="https://i.imgur.com/oLh6veK.gif" style="width:100px; margin-left: 8px;">
{% elseif postrow.POSTER_POSTS == 1337 %}
  <img src="https://i.imgur.com/sAK3fia.gif" style="width:100px; margin-left: 8px;">
{% endif %}
