<!-- INCLUDE overall_header.html -->

<style>
  {% include '@jeb_snahp/wiki/base.css' %}
  {% include '@jeb_snahp/wiki/sidebar.css' %}
  {% if STYLE_NAME=='hexagon' or STYLE_NAME=='acieeed' %}
  {% include '@jeb_snahp/wiki/dark.css' %}
  {% endif %}
</style>

<script>
  function tog()
  {
    console.log('effective');
    $('#sidebar').toggleClass('hidden');
    $('#content').toggleClass('active');
  }
</script>


<div class="twbs">
  <div id="sidebar_wrapper" class="wrapper">
    <nav id="sidebar">
      <ul class="list-unstyled components">
        <li class="">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
              <a href="../main/">Main</a>
            </li>
            <li>
              <a href="../bookmark/">Bookmark</a>
            </li>
            <li>
              <a href="#">Home 3</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
              <a href="#">Page 1</a>
            </li>
            <li>
              <a href="#">Page 2</a>
            </li>
            <li>
              <a href="#">Page 3</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Portfolio</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <div id="content">
      <div class="markdown-body">
        <div>
          {% if B_HIDDEN %}
          <p style="text-align: center; font-weight: 900;">This page is hidden from public view.</p>
          {% endif %}
          {HTML}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- INCLUDE overall_footer.html -->
