/* custom */

.markdown-body h1
{
    color: #28313F;
}

.markdown-body p
{
    font-size: 1em;
}

.markdown-body i.fa
{
    font-size: 1.0em;
    color: rgba( 15, 157, 88, 1);
}

.markdown-body h2
{
    font-size: 1.25em;
}

.markdown-body a
{
    color: #0080ff !important;
    font-weight: 700;
}

span.digg_subscribe
{
    background-color: black;
    padding: 0px 4px 0px 4px;
    border-radius: 3px;
}

span.digg_subscribe i.fa
{
    color: #CCC;
}

i.fa.fa-digg
{
    background-color: #333;
    padding: 0px 6px 1px 6px;
    border-radius: 2px;
}

i.fa.fa-digg.register
{
    color: #f8c301;
}

i.fa.fa-digg
{
    color: #4a4;
}

.wiki_image
{
    padding: 2px; 
    border: 1px solid #de7300 !important;
    max-width: 98%;
    background-color: #FFF;
}


