<table class="table table-sm table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">IID</th>
      <th scope="col">User</th>
      <th scope="col">Broker</th>
      <th scope="col">Time</th>
      <th scope="col">PCID</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    <!-- BEGIN T -->
    <tr>
      <td>{T.invoice_id}</td>
      <td>{T.user_id}</td>
      <td>{T.broker_id}</td>
      <td>{T.created_time}</td>
      <td>{T.product_class_id}</td>
      <td>{T.price}</td>
      <td>{T.quantity}</td>
      <td>{T.comment}</td>
    </tr>
    <!-- END T -->
  </tbody>
</table>
