<script>
  {% include '@jeb_snahp/post_tpl/base.js' %}
</script>
<style>
  {% include '@jeb_snahp/post_tpl/base.css' %}
</style>

<dl>
  <dt>
    <label for="custom_tpl">Custom:</label>
  </dt>
  <dd>
    <div class="twbs">
      <div class="row" style="margin-left:-2px;" id="custom_tpl_badges_body">
        <div onClick="Post_tpl.open('new');">
          <i style="" class="icon fa-plus fa-fw custom_tpl_add" aria-hidden="true"></i>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="custom_tpl_create_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <input type="hidden" name="custom_tpl_name"></input>
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create New Template</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-left">
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                  </div>
                  <input type="text" class="form-control custom_tpl_new_name" placeholder="Template Name">
                </div>
                <textarea class="form-control custom_tpl_new_text" rows="8"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button onClick="Post_tpl.create();"id="custom_tpl_create_btn" type="button" class="btn btn-success float-center" data-dismiss="modal">Create A New Template</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="custom_tpl_details_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <input type="hidden" name="custom_tpl_name"></input>
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Template</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-left" id="custom_tpl_body">
            </div>
            <div class="modal-footer">
              <button onClick="Post_tpl.save();"id="custom_tpl_save_btn" type="button" class="btn btn-secondary float-center" data-dismiss="modal">Save</button>
              <button onClick="Post_tpl.fill_form();"id="custom_tpl_submit_btn" type="button" class="btn btn-primary float-right" data-dismiss="modal">Submit</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </dd>
</dl>
