<!-- INCLUDE overall_header.html -->
{% if true %}
<h2 class="forum-title">
  <div class="twbs">
    <div class="row ml-1 form-inline">
      {TITLE}
      {% include '@jeb_snahp/favorite/component/filter/component/widget/base.html' %}
    </div>
  </div>
</h2>
{% include '@jeb_snahp/favorite/component/filter/base.html' %}
<div class="action-bar bar-top">
  <div class="pagination">
    <!-- IF .pagination -->
    <!-- INCLUDE pagination.html -->
    <!-- ELSE -->
    &bull; {PAGE_NUMBER}
    <!-- ENDIF -->
  </div>
</div>
<div class="forumbg forumbg-table">

  <div class="inner">
    {% include '@jeb_snahp/favorite/component/table.html' %}
  </div>

</div>
<div class="action-bar bottom">
  <div class="pagination">
    {TOTAL_REQUEST}
    <!-- IF .pagination -->
    <!-- INCLUDE pagination.html -->
    <!-- ELSE -->
    &bull; {PAGE_NUMBER}
    <!-- ENDIF -->
  </div>
</div>
{% else %}
<div class="panel">
  <div class="inner">
    <h3>Requests disabled</h3>
    <p>Request feature is currently disabled by the site admin.</p>
  </div>
</div>
{% endif %}
<!-- INCLUDE overall_footer.html -->
